force-app/main/default/flows/Applicant_Before_Trigger_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>CADMV_NotificationToApplicantForScheduledAppointment</name>
        <label>Notification To Applicant for Scheduled Appointment</label>
        <locationX>3086</locationX>
        <locationY>1631</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>Scheduled_Notification_To_Supervisor</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Custom_Notification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>CustomNotifBodyForScheduingAnAppointmentForApplicant</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>CustomNotifTitleForSchedulingAnAppointmentForApplicant</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>SuperisorId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.ContextId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>CADMV_NotificationToApplicantForScheduledAppointment_0_0</name>
        <label>Notification To Applicant for Scheduled Appointment</label>
        <locationX>622</locationX>
        <locationY>1871</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>Scheduled_Notification_To_Supervisor_0_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Custom_Notification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>CustomNotifBodyForScheduingAnAppointmentForApplicant</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>CustomNotifTitleForSchedulingAnAppointmentForApplicant</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>CADMV_ApplicantId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.ContextId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>CADMV_RescheduledNotificationToStaffs</name>
        <label>Rescheduled Notification To Staffs</label>
        <locationX>4098</locationX>
        <locationY>1055</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Custom_Notification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>CustomNotifBodyForRescheduledNotifToInspectorOrSupervisor</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>CustomNotifTitleForRescheduledInspectionToInspectorOrSupervisor</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>SuperisorId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>CADMV_RescheduledNotificationToStaffs_0</name>
        <label>Rescheduled Notification To Staffs</label>
        <locationX>1634</locationX>
        <locationY>1175</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Custom_Notification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>CustomNotifBodyForRescheduledNotifToInspectorOrSupervisor</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>CustomNotifTitleForRescheduledInspectionToInspectorOrSupervisor</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>SuperisorId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>CADMV_RescheduleEmailNotificationtoApplicant</name>
        <label>Reschedule Email Notification to Applicant</label>
        <locationX>3394</locationX>
        <locationY>1415</locationY>
        <actionName>Visit.CADMV_EmailVisitObjectRecipient_InspectionRescheduledNotification</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>CADMV_RescheduleNotificationToApplicant</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>CADMV_RescheduleEmailNotificationtoApplicant_0</name>
        <label>Reschedule Email Notification to Applicant</label>
        <locationX>930</locationX>
        <locationY>1535</locationY>
        <actionName>Visit.CADMV_EmailVisitObjectRecipient_InspectionRescheduledNotification</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>CADMV_RescheduleNotificationToApplicant_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>CADMV_RescheduleNotificationToApplicant</name>
        <label>Reschedule Notification to Applicant</label>
        <locationX>3526</locationX>
        <locationY>1631</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>Scheduled_Notification_To_Supervisor</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Custom_Notification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>CustomNotifBodyForRescheduledAppointmentForApplicant</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>CustomNotifTitleForReschedulingOfAppointmentForApplicant</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>CADMV_ApplicantId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>Get_Business_License_Application.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>CADMV_RescheduleNotificationToApplicant_0</name>
        <label>Reschedule Notification to Applicant</label>
        <locationX>1062</locationX>
        <locationY>1751</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>Scheduled_Notification_To_Supervisor_0_0_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Custom_Notification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>CustomNotifBodyForRescheduledAppointmentForApplicant</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>CustomNotifTitleForReschedulingOfAppointmentForApplicant</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>CADMV_ApplicantId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>Get_Business_License_Application.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Cancel_Email_Notif_to_Applicant</name>
        <label>Cancel Email Notif to Applicant</label>
        <locationX>2162</locationX>
        <locationY>1175</locationY>
        <actionName>Visit.CADMV_ApplicantInspectionCancelledNotification</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Cancelled_Notification_to_Applicant</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Cancel_Email_Notif_to_Applicant_0</name>
        <label>Cancel Email Notif to Applicant</label>
        <locationX>4626</locationX>
        <locationY>935</locationY>
        <actionName>Visit.CADMV_ApplicantInspectionCancelledNotification</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Cancelled_Notification_to_Applicant_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Cancelled_Notif_To_Supervisor</name>
        <label>Cancelled Notif To Supervisor</label>
        <locationX>1898</locationX>
        <locationY>1655</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Custom_Notification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>CustomNotifBodyForCancelledToSupervisor</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>CustomNotifTitleForCancelledToInspector</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>SuperisorId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Cancelled_Notif_To_Supervisor_0</name>
        <label>Cancelled Notif To Supervisor</label>
        <locationX>2162</locationX>
        <locationY>1655</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>CADMV_InspectorSupervisorId</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Custom_Notification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>CustomNotifBodyForCancelledToSupervisor</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>CustomNotifTitleForCancelledToInspector</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>SuperisorId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Cancelled_Notif_To_Supervisor_0_0</name>
        <label>Cancelled Notif To Supervisor</label>
        <locationX>2162</locationX>
        <locationY>1895</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Custom_Notification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>CustomNotifBodyForCancelledToSupervisor</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>CustomNotifTitleForCancelledToInspector</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>InspectorSupervisorId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Cancelled_Notif_To_Supervisor_0_0_0</name>
        <label>Cancelled Notif To Supervisor</label>
        <locationX>4362</locationX>
        <locationY>1415</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Custom_Notification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>CustomNotifBodyForCancelledToSupervisor</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>CustomNotifTitleForCancelledToInspector</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>SuperisorId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Cancelled_Notif_To_Supervisor_0_0_0_0</name>
        <label>Cancelled Notif To Supervisor</label>
        <locationX>4626</locationX>
        <locationY>1415</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>CADMV_InspectorSupervisorId_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Custom_Notification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>CustomNotifBodyForCancelledToSupervisor</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>CustomNotifTitleForCancelledToInspector</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>SuperisorId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Cancelled_Notif_To_Supervisor_0_0_0_0_0</name>
        <label>Cancelled Notif To Supervisor</label>
        <locationX>4626</locationX>
        <locationY>1655</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Custom_Notification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>CustomNotifBodyForCancelledToSupervisor</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>CustomNotifTitleForCancelledToInspector</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>InspectorSupervisorId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Cancelled_Notification_to_Applicant</name>
        <label>Cancelled Notification to Applicant</label>
        <locationX>2162</locationX>
        <locationY>1295</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>Get_User_from_VisitorId</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Custom_Notification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>CustomNotifBodyForCancelledToApplicant</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>CustomNotifTitleForCancelledNotifToApplicant</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>CADMV_ApplicantId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>Get_Business_License_Application.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Cancelled_Notification_to_Applicant_0</name>
        <label>Cancelled Notification to Applicant</label>
        <locationX>4626</locationX>
        <locationY>1055</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>Get_User_from_VisitorId_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Custom_Notification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>CustomNotifBodyForCancelledToApplicant</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>CustomNotifTitleForCancelledNotifToApplicant</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>CADMV_ApplicantId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>Get_Business_License_Application.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>email_notification_0</name>
        <label>email notification</label>
        <locationX>2954</locationX>
        <locationY>1415</locationY>
        <actionName>Visit.CADMV_EmailVisitObjectRecipient_InspectionScheduledNotification</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>CADMV_NotificationToApplicantForScheduledAppointment</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>email_notification_0_0_0_0</name>
        <label>email notification</label>
        <locationX>490</locationX>
        <locationY>1655</locationY>
        <actionName>Visit.CADMV_EmailVisitObjectRecipient_InspectionScheduledNotification</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>CADMV_NotificationToApplicantForScheduledAppointment_0_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Notification_to_Supervisor</name>
        <label>Notification to Supervisor</label>
        <locationX>50</locationX>
        <locationY>1295</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Custom_Notification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>CustomNotifBodyForSupervisor</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>CustomNotifTitleForSupervisorPendingInspectorAssignment</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>SuperisorId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Scheduled_Notification_To_Supervisor</name>
        <label>Scheduled Notification To Supervisor</label>
        <locationX>3460</locationX>
        <locationY>1847</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Custom_Notification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>CustomNotifBodyForPendingAssignedInspectorStatusToSupervisor</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>CustomNotifTitleForPendingAssignedInspectorStatusToSupervisor</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>SuperisorId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Scheduled_Notification_To_Supervisor_0_0</name>
        <label>Scheduled Notification To Supervisor</label>
        <locationX>468</locationX>
        <locationY>2087</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Custom_Notification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>CustomNotfiBodyForScheduledInspector</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>CustomNotifTitleForScheduledInspector</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>SuperisorId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Scheduled_Notification_To_Supervisor_0_0_0</name>
        <label>Scheduled Notification To Supervisor</label>
        <locationX>1062</locationX>
        <locationY>1871</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Custom_Notification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>CustomNotfiBodyForScheduledInspector</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>CustomNotifTitleForScheduledInspector</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>SuperisorId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Assign_Visitor_Id_0_0</name>
        <label>Assign Visitor Id</label>
        <locationX>1370</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>SuperisorId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.VisitorId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CADMV_ApplicantId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CADMV_GetApplicantIdfromBLA.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_For_Visit_Status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CADMV_AssignAnApplicantOrSupervisor</name>
        <label>Assign an Applicant/Supervisor</label>
        <locationX>3460</locationX>
        <locationY>1055</locationY>
        <assignmentItems>
            <assignToReference>CADMV_ApplicantId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SuperisorId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.VisitorId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CADMV_CheckPreviousVisitStatus</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CADMV_AssignID</name>
        <label>Assign ID</label>
        <locationX>4098</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>SuperisorId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.VisitorId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CADMV_RescheduledNotificationToStaffs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CADMV_InspectorSupervisorId</name>
        <label>InspectorSupervisorId</label>
        <locationX>2162</locationX>
        <locationY>1775</locationY>
        <assignmentItems>
            <assignToReference>InspectorSupervisorId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.CADMV_SupervisorId__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Cancelled_Notif_To_Supervisor_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CADMV_InspectorSupervisorId_0</name>
        <label>InspectorSupervisorId</label>
        <locationX>4626</locationX>
        <locationY>1535</locationY>
        <assignmentItems>
            <assignToReference>InspectorSupervisorId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.CADMV_SupervisorId__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Cancelled_Notif_To_Supervisor_0_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Supervisor_Assignment</name>
        <label>Supervisor Assignment</label>
        <locationX>50</locationX>
        <locationY>1175</locationY>
        <assignmentItems>
            <assignToReference>SuperisorId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.VisitorId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Notification_to_Supervisor</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>CADMV_CheckforVisitStatus</name>
        <label>Check for Visit Status</label>
        <locationX>4439</locationX>
        <locationY>815</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Pending_Inspector_Assignment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CADMV_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending Inspector Assignment</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Service_Appointment__r.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Scheduled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CADMV_GetPreviousVisit</targetReference>
            </connector>
            <label>Is Pending Inspector Assignment</label>
        </rules>
        <rules>
            <name>CADMV_ApplicantRescheduled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CADMV_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rescheduled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CADMV_AssignID</targetReference>
            </connector>
            <label>Rescheduled</label>
        </rules>
        <rules>
            <name>CADMV_ApplicantCancelled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CADMV_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cancelled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cancel_Email_Notif_to_Applicant_0</targetReference>
            </connector>
            <label>Cancelled</label>
        </rules>
        <rules>
            <name>CADMV_ApplicantScheduled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CADMV_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Scheduled</stringValue>
                </rightValue>
            </conditions>
            <label>Scheduled</label>
        </rules>
    </decisions>
    <decisions>
        <name>CADMV_CheckPreviousVisitStatus</name>
        <label>Check Previous Visit Status</label>
        <locationX>3460</locationX>
        <locationY>1175</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Null_or_Schedule_Or_Cancel</name>
            <conditionLogic>(1 OR 2 OR 3 ) AND 4</conditionLogic>
            <conditions>
                <leftValueReference>CADMV_GetPreviousVisit.CADMV_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Scheduled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CADMV_GetPreviousVisit.CADMV_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cancelled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CADMV_GetPreviousVisit.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CADMV_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending Inspector Assignment</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_for_Email</targetReference>
            </connector>
            <label>Is Null or Schedule Or Cancel</label>
        </rules>
        <rules>
            <name>CADMV_OldRescheduleandNewPendingInspectorAssign</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CADMV_GetPreviousVisit.CADMV_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rescheduled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CADMV_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending Inspector Assignment</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_for_Email_0</targetReference>
            </connector>
            <label>Old Reschedule and New Pending Inspector Assign</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Email</name>
        <label>Check for Email</label>
        <locationX>3086</locationX>
        <locationY>1295</locationY>
        <defaultConnector>
            <targetReference>CADMV_NotificationToApplicantForScheduledAppointment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Email_Present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>email_notification_0</targetReference>
            </connector>
            <label>Is Email Present</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Email_0</name>
        <label>Check for Email</label>
        <locationX>3526</locationX>
        <locationY>1295</locationY>
        <defaultConnector>
            <targetReference>CADMV_RescheduleNotificationToApplicant</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Email_Present_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CADMV_RescheduleEmailNotificationtoApplicant</targetReference>
            </connector>
            <label>Is Email Present</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Email_0_0</name>
        <label>Check for Email</label>
        <locationX>1062</locationX>
        <locationY>1415</locationY>
        <defaultConnector>
            <targetReference>CADMV_RescheduleNotificationToApplicant_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Email_Present_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CADMV_RescheduleEmailNotificationtoApplicant_0</targetReference>
            </connector>
            <label>Is Email Present</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Email_0_0_0</name>
        <label>Check for Email</label>
        <locationX>622</locationX>
        <locationY>1535</locationY>
        <defaultConnector>
            <targetReference>CADMV_NotificationToApplicantForScheduledAppointment_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Email_Present_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>email_notification_0_0_0_0</targetReference>
            </connector>
            <label>Is Email Present</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Supervisor_or_Inspector</name>
        <label>Check for Supervisor or Inspector</label>
        <locationX>2162</locationX>
        <locationY>1535</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_User_Supervisor</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_User_from_VisitorId.UserRole.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Supervisor Inspector</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Service_Appointment__r.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cancelled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cancelled_Notif_To_Supervisor</targetReference>
            </connector>
            <label>Is User Supervisor</label>
        </rules>
        <rules>
            <name>Is_User_Inspector</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_User_from_VisitorId.UserRole.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Inspector</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Service_Appointment__r.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cancelled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cancelled_Notif_To_Supervisor_0</targetReference>
            </connector>
            <label>Is User Inspector</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Supervisor_or_Inspector_0</name>
        <label>Check for Supervisor or Inspector</label>
        <locationX>4626</locationX>
        <locationY>1295</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_User_Supervisor_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_User_from_VisitorId.UserRole.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Supervisor Inspector</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Service_Appointment__r.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cancelled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cancelled_Notif_To_Supervisor_0_0_0</targetReference>
            </connector>
            <label>Is User Supervisor</label>
        </rules>
        <rules>
            <name>Is_User_Inspector_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_User_from_VisitorId.UserRole.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Inspector</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Service_Appointment__r.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cancelled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cancelled_Notif_To_Supervisor_0_0_0_0</targetReference>
            </connector>
            <label>Is User Inspector</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_For_Visit_Status</name>
        <label>Check For Visit Status</label>
        <locationX>1370</locationX>
        <locationY>1055</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Pending_Inspector_Assignment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CADMV_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending Inspector Assignment</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Supervisor_Assignment</targetReference>
            </connector>
            <label>Pending Inspector Assignment</label>
        </rules>
        <rules>
            <name>Scheduled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CADMV_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Scheduled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Previous_Visit_Record</targetReference>
            </connector>
            <label>Scheduled</label>
        </rules>
        <rules>
            <name>Rescheduled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CADMV_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rescheduled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CADMV_RescheduledNotificationToStaffs_0</targetReference>
            </connector>
            <label>Rescheduled</label>
        </rules>
        <rules>
            <name>Cancelled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CADMV_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cancelled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cancel_Email_Notif_to_Applicant</targetReference>
            </connector>
            <label>Cancelled</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Previous_Visit_Status</name>
        <label>Check Previous Visit Status</label>
        <locationX>919</locationX>
        <locationY>1295</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Null_or_Is_Scheduled_Or_Is_Cancelled</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Previous_Visit_Record.CADMV_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Scheduled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Previous_Visit_Record.CADMV_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Cancelled</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Previous_Visit_Record.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Visit_status_Pending_to_Scheduled</targetReference>
            </connector>
            <label>Is Null or Is Scheduled Or Is Cancelled</label>
        </rules>
        <rules>
            <name>Is_Rescheduled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Previous_Visit_Record.CADMV_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rescheduled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CADMV_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Scheduled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_for_Email_0_0</targetReference>
            </connector>
            <label>Is Rescheduled</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_User_role</name>
        <label>Check User role</label>
        <locationX>3526</locationX>
        <locationY>695</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Supervisor</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$UserRole.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>SupervisorProfile</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CADMV_GetApplicantIdfromBLA</targetReference>
            </connector>
            <label>Is Supervisor</label>
        </rules>
        <rules>
            <name>Is_Applicant</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Current_User.Profile.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Null</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CADMV_CheckforVisitStatus</targetReference>
            </connector>
            <label>Is Applicant</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Visit_status_Pending_to_Scheduled</name>
        <label>Check Visit status Pending to Scheduled</label>
        <locationX>468</locationX>
        <locationY>1415</locationY>
        <defaultConnector>
            <targetReference>Check_for_Email_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Pending_to_scheduled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CADMV_PreviousStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending Inspector Assignment</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CADMV_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Scheduled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Scheduled_Notification_To_Supervisor_0_0</targetReference>
            </connector>
            <label>Pending to scheduled</label>
        </rules>
    </decisions>
    <interviewLabel>Applicant Before Trigger Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Applicant Before Trigger Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>CADMV_GetApplicantIdfromBLA</name>
        <label>Get Applicant Id from BLA</label>
        <locationX>1370</locationX>
        <locationY>815</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Visitor_Id_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Business_License_Application.PrimaryOwnerId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>CADMV_GetPreviousVisit</name>
        <label>Get Previous Visit</label>
        <locationX>3460</locationX>
        <locationY>935</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CADMV_AssignAnApplicantOrSupervisor</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record__Prior.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Visit</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Business_License_Application</name>
        <label>Get Business License Application</label>
        <locationX>3526</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Custom_Notification</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ContextId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>BusinessLicenseApplication</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Current_User</name>
        <label>Get Current User</label>
        <locationX>3526</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_User_role</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Custom_Notification</name>
        <label>Get Custom Notification</label>
        <locationX>3526</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Current_User</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CustomNotifTypeName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>InspectorManager_Notification</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Previous_Visit_Record</name>
        <label>Get Previous Visit Record</label>
        <locationX>919</locationX>
        <locationY>1175</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Previous_Visit_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Visit</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_User_from_VisitorId</name>
        <label>Get User from VisitorId</label>
        <locationX>2162</locationX>
        <locationY>1415</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_for_Supervisor_or_Inspector</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.VisitorId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_User_from_VisitorId_0</name>
        <label>Get User from VisitorId</label>
        <locationX>4626</locationX>
        <locationY>1175</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_for_Supervisor_or_Inspector_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.VisitorId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>3400</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Business_License_Application</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>AccountId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Service_Appointment__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>VisitorId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Visit</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <textTemplates>
        <name>CustomNotfiBodyForScheduledInspector</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>A new inspection on {!$Record.PlannedVisitStartTime} has been assigned to you. Please verify your inspection details.</text>
    </textTemplates>
    <textTemplates>
        <name>CustomNotifBodyForCancelledToApplicant</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Your Inspection appointment for {!$Record.CADMV_BusinessName__c} at {!$Record.CADMV_BusinessAddressForEmail__c} that was scheduled for {!$Record.PlannedVisitStartTime} has been CANCELLED. Please review your email.</text>
    </textTemplates>
    <textTemplates>
        <name>CustomNotifBodyForCancelledToSupervisor</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>The Inspection for {!$Record.CADMV_BusinessName__c} at {!$Record.CADMV_BusinessAddressForEmail__c} that was scheduled for {!$Record.PlannedVisitStartTime} has been cancelled. Please verify.</text>
    </textTemplates>
    <textTemplates>
        <name>CustomNotifBodyForPendingAssignedInspectorStatusToSupervisor</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>A new inspection on {!$Record.PlannedVisitStartTime} has been assigned to you. Please verify the visit page.</text>
    </textTemplates>
    <textTemplates>
        <name>CustomNotifBodyForRescheduledAppointmentForApplicant</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>An Inspection has been rescheduled on {!$Record.PlannedVisitStartTime}.Please check your new inspection date and time.</text>
    </textTemplates>
    <textTemplates>
        <name>CustomNotifBodyForRescheduledNotifToInspectorOrSupervisor</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>You are no longer responsible for an appointment that was assigned to you on {!$Record.PlannedVisitStartTime}. Please check the visit page.</text>
    </textTemplates>
    <textTemplates>
        <name>CustomNotifBodyForScheduingAnAppointmentForApplicant</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>An Inspection has been scheduled on {!$Record.PlannedVisitStartTime}. Please be ready for inspection.</text>
    </textTemplates>
    <textTemplates>
        <name>CustomNotifBodyForSupervisor</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>A new inspection on {!$Record.PlannedVisitStartTime}  has been assigned to you.</text>
    </textTemplates>
    <textTemplates>
        <name>CustomNotifTitleForCancelledNotifToApplicant</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Your Inspection appointment for {!$Record.CADMV_BusinessAddress__c} at {!$Record.CADMV_BusinessAddressForEmail__c} that was scheduled for {!$Record.PlannedVisitStartTime} has been CANCELLED.</text>
    </textTemplates>
    <textTemplates>
        <name>CustomNotifTitleForCancelledToInspector</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>The Inspection for {!$Record.CADMV_BusinessName__c} at {!$Record.CADMV_BusinessAddressForEmail__c} that was scheduled for {!$Record.PlannedVisitStartTime} has been cancelled.</text>
    </textTemplates>
    <textTemplates>
        <name>CustomNotifTitleForPendingAssignedInspectorStatusToSupervisor</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;A new inspection on {!$Record.PlannedVisitStartTime} has been assigned to you.&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>CustomNotifTitleForRescheduledInspectionToInspectorOrSupervisor</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>The Inspection for {!$Record.CADMV_BusinessName__c} at {!$Record.CADMV_BusinessAddressForEmail__c} that was scheduled for {!$Record.PlannedVisitStartTime} has been cancelled.</text>
    </textTemplates>
    <textTemplates>
        <name>CustomNotifTitleForReschedulingOfAppointmentForApplicant</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>An Inspection has been rescheduled on {!$Record.PlannedVisitStartTime}.</text>
    </textTemplates>
    <textTemplates>
        <name>CustomNotifTitleForScheduledInspector</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>A new inspection on {!$Record.PlannedVisitStartTime} has been assigned to you.</text>
    </textTemplates>
    <textTemplates>
        <name>CustomNotifTitleForSchedulingAnAppointmentForApplicant</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>An Inspection has been scheduled on {!$Record.PlannedVisitStartTime}</text>
    </textTemplates>
    <textTemplates>
        <name>CustomNotifTitleForSupervisorPendingInspectorAssignment</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;A new inspection on &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!$Record.PlannedVisitStartTime}&lt;/span&gt; has been assigned to you &lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>CADMV_ApplicantId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Inspector</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Inspector</stringValue>
        </value>
    </variables>
    <variables>
        <name>InspectorSupervisorId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SuperisorId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SupervisorProfile</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Supervisor Inspector</stringValue>
        </value>
    </variables>
</Flow>
