force-app/main/default/flows/CADMV_ApplicantCancelsInspection.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>CADMV_CancelledEmailNotiftoApplicant</name>
        <label>Cancelled Email Notif to  Applicant</label>
        <locationX>50</locationX>
        <locationY>2174</locationY>
        <actionName>Visit.CADMV_ApplicantInspectionCancelledNotification</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>CADMV_CancelledNotifToApplicant</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Visit.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>CADMV_CancelledNotifToApplicant</name>
        <label>Cancelled Notif to Applicant</label>
        <locationX>182</locationX>
        <locationY>2390</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>Inspection_Cancelled_0_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Custom_Notification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>CustomNotifBodyForCancelledNotifToApplicant</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>CustomNotifTitleForCancelledNotifToApplicant</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>CADMV_ApplicantId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetPageRef</name>
            <value>
                <elementReference>CADMV_CommunityManageMyInpsectionPage</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>CADMV_ApplicantIdAssignment</name>
        <label>Applicant Id Assignment</label>
        <locationX>182</locationX>
        <locationY>1934</locationY>
        <assignmentItems>
            <assignToReference>CADMV_ApplicantId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Applicant_User_Id.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CADMV_CheckForValidEmail</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Service_Appointment_Fields</name>
        <label>Service Appointment Fields</label>
        <locationX>336</locationX>
        <locationY>1094</locationY>
        <assignmentItems>
            <assignToReference>Service_Appointment.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Service_Appointment2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Visit_Fields</name>
        <label>Visit Fields</label>
        <locationX>336</locationX>
        <locationY>1334</locationY>
        <assignmentItems>
            <assignToReference>Visit.CADMV_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Visit.CADMV_RescheduleReason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Service_Appointment.CancellationReason</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Visit.VisitorId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Visit</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>CADMV_CheckForEventId</name>
        <label>Check for Event Id</label>
        <locationX>336</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>Service_Appointment_Fields</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CADMV_IsEventNotNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CADMV_GetEvent.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CADMV_DeleteEvent_0</targetReference>
            </connector>
            <label>Is Event Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>CADMV_CheckForUserIdIsNull</name>
        <label>Check for User id is Null</label>
        <locationX>336</locationX>
        <locationY>1694</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CADMV_IsUserIDNotNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Applicant_User_Id.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Custom_Notification</targetReference>
            </connector>
            <label>Is User ID Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>CADMV_CheckForValidEmail</name>
        <label>Check For Valid Email</label>
        <locationX>182</locationX>
        <locationY>2054</locationY>
        <defaultConnector>
            <targetReference>CADMV_CancelledNotifToApplicant</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CADMV_CheckEmail</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Applicant_User_Id.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CADMV_CancelledEmailNotiftoApplicant</targetReference>
            </connector>
            <label>Check Email</label>
        </rules>
    </decisions>
    <interviewLabel>Applicant Cancels Inspection {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Applicant Cancels Inspection</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordDeletes>
        <name>CADMV_DeleteEvent_0</name>
        <label>Delete Event</label>
        <locationX>204</locationX>
        <locationY>878</locationY>
        <connector>
            <targetReference>Service_Appointment_Fields</targetReference>
        </connector>
        <inputReference>CADMV_GetEvent</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Business_License_Application</name>
        <label>Business License Application</label>
        <locationX>336</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Visit</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>BLAId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>BusinessLicenseApplication</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>CADMV_GetEvent</name>
        <label>Get Event</label>
        <locationX>336</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Cancel_Inspection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Visit.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Event</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Applicant_User_Id</name>
        <label>Get Applicant User Id</label>
        <locationX>336</locationX>
        <locationY>1574</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CADMV_CheckForUserIdIsNull</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Business_License_Application.PrimaryOwnerId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Custom_Notification</name>
        <label>Get Custom Notification</label>
        <locationX>182</locationX>
        <locationY>1814</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CADMV_ApplicantIdAssignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Applicant_Notification</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Service_Appointment</name>
        <label>Service Appointment</label>
        <locationX>336</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CADMV_GetEvent</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Visit.Service_Appointment__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceAppointment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Visit</name>
        <label>Visit</label>
        <locationX>336</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Service_Appointment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Business_License_Application.CADMV_Visit__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Visit</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Service_Appointment2</name>
        <label>Service Appointment</label>
        <locationX>336</locationX>
        <locationY>1214</locationY>
        <connector>
            <targetReference>Visit_Fields</targetReference>
        </connector>
        <inputReference>Service_Appointment</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Visit</name>
        <label>Update Visit</label>
        <locationX>336</locationX>
        <locationY>1454</locationY>
        <connector>
            <targetReference>Get_Applicant_User_Id</targetReference>
        </connector>
        <inputReference>Visit</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Cancel_Inspection</name>
        <label>Cancel Inspection</label>
        <locationX>336</locationX>
        <locationY>638</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>CADMV_CheckForEventId</targetReference>
        </connector>
        <fields>
            <name>CancelApptHeader</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/span&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Cancel Inspection Appointment&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>InspectionInformation</name>
            <fieldText>&lt;p&gt;Inspection for {!Visit.Account.Name} &lt;/p&gt;&lt;ul&gt;&lt;li&gt;Planned Start Time Window {!Visit.PlannedVisitStartTime}&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Planned End Time Window {!Visit.PlannedVisitEndTime}&lt;/span&gt;&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>Service_Appointment.CancellationReason</objectFieldReference>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Inspection_Cancelled_0_0</name>
        <label>Inspection Cancelled</label>
        <locationX>182</locationX>
        <locationY>2510</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DisplaySuccessMessage_0_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 20px;&quot;&gt;Success!  Your inspection has been cancelled.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>210</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Business_License_Application</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>CustomNotifBodyForCancelledNotifToApplicant</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Your Inspection appointment for {!Visit.CADMV_BusinessName__c} at {!Visit.CADMV_BusinessAddressForEmail__c} that was scheduled for {!Visit.PlannedVisitStartTime} has been CANCELLED. Please review your email.</text>
    </textTemplates>
    <textTemplates>
        <name>CustomNotifTitleForCancelledNotifToApplicant</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Your Inspection appointment for {!Visit.CADMV_BusinessName__c} at {!Visit.CADMV_BusinessAddressForEmail__c} that was scheduled {!Visit.PlannedVisitStartTime} has been CANCELLED.</text>
    </textTemplates>
    <variables>
        <name>BLAId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CADMV_ApplicantId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CADMV_CommunityManageMyInpsectionPage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>{&quot;type&quot;: &quot;comm__namedPage&quot;,&quot;attributes&quot;: {&quot;name&quot;: &quot;Manage_My_Inspections__c&quot;}}</stringValue>
        </value>
    </variables>
    <variables>
        <name>txtSuccessMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Success!  Your inspection has been cancelled.</stringValue>
        </value>
    </variables>
    <variables>
        <name>UserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
