force-app/main/default/flows/CADMV_ManagerCancelsTheAppointment.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>CADMV_CancelAppointmentAction_0</name>
        <label>Cancel Appointment Action</label>
        <locationX>204</locationX>
        <locationY>1214</locationY>
        <actionName>cancelAppointment</actionName>
        <actionType>cancelAppointment</actionType>
        <connector>
            <targetReference>CADMV_UpdateTheVisit_0</targetReference>
        </connector>
        <faultConnector>
            <targetReference>CADMV_InboundCancelAppointment</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>cancellationReason</name>
            <value>
                <elementReference>CADMV_CancellationReason</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>cancelStatus</name>
            <value>
                <elementReference>Cadmv_CancellationStatus</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>CADMV_GetServiceAppointmentRecord.Id</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>CADMV_ErrorMessage</assignToReference>
            <name>errorMessage</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>CADMV_NotificationForCancellationToApplicant_0</name>
        <label>Notification for Cancellation to applicant</label>
        <locationX>204</locationX>
        <locationY>2270</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>CADMV_ConfirmationScreen</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Custom_Notification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>CustomNotifBodyForCancellationNotifToApplicant</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>CADMV_CustomNotifTitleForCancellationToApplicant</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>ApplicantId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetPageRef</name>
            <value>
                <elementReference>CADMV_CommunityManageMyInspectionPage</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>CADMVCancellationNotificationEmailToApplicant_0</name>
        <label>Cancellation Notification email to Applicant</label>
        <locationX>72</locationX>
        <locationY>2054</locationY>
        <actionName>Visit.CADMV_ApplicantInspectionCancelledNotification</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>CADMV_NotificationForCancellationToApplicant_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Get_Visit_Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Assign_Applicant_0</name>
        <label>Assign Applicant</label>
        <locationX>204</locationX>
        <locationY>1814</locationY>
        <assignmentItems>
            <assignToReference>ApplicantId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_User.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CADMV_VerifyEmail_0</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>CADMV_CheckAppointmentStatuscategory</name>
        <label>Check Appointment Status category</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <defaultConnector>
            <targetReference>CADMV_InboundCancelAppointment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CADMV_CanceledAppointment</name>
            <conditionLogic>(1 AND 2) OR (3 AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>CADMV_GetServiceAppointmentRecord.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cancelled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Visit_Record.CADMV_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cancelled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Visit_Record.CADMV_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rescheduled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CADMV_GetServiceAppointmentRecord.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cancelled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CADMV_ConfirmationScreen</targetReference>
            </connector>
            <label>Canceled appointment</label>
        </rules>
    </decisions>
    <decisions>
        <name>CADMV_VerifyEmail_0</name>
        <label>Verify Email</label>
        <locationX>204</locationX>
        <locationY>1934</locationY>
        <defaultConnector>
            <targetReference>CADMV_NotificationForCancellationToApplicant_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CADMV_IsEmailPresent_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Visit_Record.CADMV_ApplicantEmail__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CADMVCancellationNotificationEmailToApplicant_0</targetReference>
            </connector>
            <label>Is Email Present</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Event_is_empty</name>
        <label>Check Event is empty</label>
        <locationX>204</locationX>
        <locationY>878</locationY>
        <defaultConnector>
            <targetReference>CADMV_CancelAppointmentAction_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CADMC_IsEventNotEmpty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CADMV_GetEvent.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CADMV_DeleteEvent_0</targetReference>
            </connector>
            <label>Is Event Not Empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Service_Appointment</name>
        <label>Check for Service Appointment</label>
        <locationX>413</locationX>
        <locationY>278</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Service_Appointment_Available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Visit_Record.Service_Appointment__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CADMV_GetServiceAppointmentRecord</targetReference>
            </connector>
            <label>Is Service Appointment Available</label>
        </rules>
    </decisions>
    <interviewLabel>Manager Cancels the Appointment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Manager - Cancel Appointment</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordDeletes>
        <name>CADMV_DeleteEvent_0</name>
        <label>Delete Event</label>
        <locationX>72</locationX>
        <locationY>998</locationY>
        <connector>
            <targetReference>CADMV_CancelAppointmentAction_0</targetReference>
        </connector>
        <inputReference>CADMV_GetEvent</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>CADMV_GetBusinessLicenseApplication</name>
        <label>Get Business License Application</label>
        <locationX>204</locationX>
        <locationY>1454</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_User</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Visit_Record.ContextId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>BusinessLicenseApplication</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>CADMV_GetEvent</name>
        <label>Get Event</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CADMV_CheckAppointmentStatuscategory</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Visit_Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Event</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get the service appointment and update the status to cancelled.</description>
        <name>CADMV_GetServiceAppointmentRecord</name>
        <label>Get Service Appointment Record</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CADMV_GetEvent</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Visit_Record.Service_Appointment__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceAppointment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Custom_Notification</name>
        <label>Get Custom Notification</label>
        <locationX>204</locationX>
        <locationY>1694</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Applicant_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Applicant_Notification</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_User</name>
        <label>Get User</label>
        <locationX>204</locationX>
        <locationY>1574</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Custom_Notification</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CADMV_GetBusinessLicenseApplication.PrimaryOwnerId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Visit_Record</name>
        <label>Get Visit Record</label>
        <locationX>413</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_for_Service_Appointment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Visit</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>CADMV_UpdateTheVisit_0</name>
        <label>Update the Visit</label>
        <locationX>204</locationX>
        <locationY>1334</locationY>
        <connector>
            <targetReference>CADMV_GetBusinessLicenseApplication</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Visit_Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CADMV_PreviousVisitorId__c</field>
            <value>
                <elementReference>Get_Visit_Record.VisitorId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CADMV_RescheduleReason__c</field>
            <value>
                <elementReference>CADMV_CancellationReason</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CADMV_Status__c</field>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VisitorId</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <object>Visit</object>
    </recordUpdates>
    <screens>
        <name>CADMV_ConfirmationScreen</name>
        <label>Confirmation Screen</label>
        <locationX>50</locationX>
        <locationY>2486</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>CADMV_InboundCancelConfirmation</name>
            <extensionName>runtime_appointmentbooking:flowConfirm</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>isCancel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>category</name>
                <value>
                    <elementReference>CADMV_GetServiceAppointmentRecord.StatusCategory</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>CADMV_InboundCancelAppointment</name>
        <label>Inbound Cancel Appointment</label>
        <locationX>204</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_Event_is_empty</targetReference>
        </connector>
        <fields>
            <name>CADMV_CancelAppointment</name>
            <extensionName>runtime_appointmentbooking:cancelApp</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>cancelErrors</name>
                <value>
                    <elementReference>$Flow.FaultMessage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cancellationReason</name>
                <value>
                    <elementReference>CADMV_CancellationReason</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>status</name>
                <value>
                    <elementReference>Cadmv_CancellationStatus</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isInbound</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>CADMV_GetServiceAppointmentRecord.Id</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>CADMV_ErrorMessage</assignToReference>
                <name>cancelErrors</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CADMV_CancellationReason</assignToReference>
                <name>cancellationReason</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>Cadmv_CancellationStatus</assignToReference>
                <name>status</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CADMV_GetServiceAppointmentRecord.Id</assignToReference>
                <name>recordId</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>287</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Visit_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>CADMV_CustomNotifTitleForCancellationToApplicant</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Your Inspection appointment for {!Get_Visit_Record.CADMV_BusinessName__c} at {!Get_Visit_Record.CADMV_BusinessAddressForEmail__c} that was scheduled for {!Get_Visit_Record.PlannedVisitStartTime} has been CANCELLED. Please review your email.</text>
    </textTemplates>
    <textTemplates>
        <name>CustomNotifBodyForCancellationNotifToApplicant</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Your Inspection appointment for {!Get_Visit_Record.CADMV_BusinessName__c} at {!Get_Visit_Record.CADMV_BusinessAddressForEmail__c} that was scheduled for {!Get_Visit_Record.PlannedVisitStartTime} has been CANCELLED. Please review your email.</text>
    </textTemplates>
    <variables>
        <name>ApplicantId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CADMV_CancellationReason</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Cadmv_CancellationStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CADMV_CommunityManageMyInspectionPage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>{&quot;type&quot;: &quot;comm__namedPage&quot;,&quot;attributes&quot;: {&quot;name&quot;: &quot;Manage_My_Inspections__c&quot;}}</stringValue>
        </value>
    </variables>
    <variables>
        <name>CADMV_ErrorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
