force-app/main/default/flows/CADMV_User_Registration.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Create_Community_User</name>
        <label>Create Community User</label>
        <locationX>1095</locationX>
        <locationY>903</locationY>
        <actionName>CADMV_CommunitySelfRegController</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Redirect</targetReference>
        </connector>
        <faultConnector>
            <targetReference>User_Account_Registration</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>fname</name>
            <value>
                <elementReference>User_First_Name1</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>licenseNumber</name>
            <value>
                <elementReference>DrivingLicenseNumber</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>lname</name>
            <value>
                <elementReference>user_Last_Name1</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>mname</name>
            <value>
                <elementReference>User_middle_name1</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>phone</name>
            <value>
                <elementReference>phone.value</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>username</name>
            <value>
                <elementReference>userEmailValue</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Redirect</name>
        <label>Redirect</label>
        <locationX>1313</locationX>
        <locationY>1004</locationY>
        <actionName>c:navigateEverywhereLFA</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>destinationType</name>
            <value>
                <stringValue>URL</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>destinationUrl</name>
            <value>
                <stringValue>../login/CheckPasswordResetEmail</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Set_Duplicate_Variable_to_False</name>
        <label>Set Duplicate Variable to False</label>
        <locationX>811</locationX>
        <locationY>446</locationY>
        <assignmentItems>
            <assignToReference>duplicateUser</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getDupUserRecord</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Duplicate_Variable_To_True</name>
        <label>Set Duplicate Variable To True</label>
        <locationX>333</locationX>
        <locationY>693</locationY>
        <assignmentItems>
            <assignToReference>duplicateUser</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>User_Account_Registration</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Choice_value</name>
        <choiceText>Choice 1</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Choice1</elementReference>
        </value>
    </choices>
    <choices>
        <name>Choicevalue2</name>
        <choiceText>Choice 2</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Choice1</elementReference>
        </value>
    </choices>
    <constants>
        <name>Choice1</name>
        <dataType>String</dataType>
    </constants>
    <decisions>
        <description>Checks if user account is a duplicate.</description>
        <name>CheckDupUserAccount</name>
        <label>Check Dup User Account</label>
        <locationX>801</locationX>
        <locationY>754</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Duplicate_User</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getDupUserRecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Duplicate_Variable_To_True</targetReference>
            </connector>
            <label>Duplicate User</label>
        </rules>
        <rules>
            <name>New_User</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getDupUserRecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Community_User</targetReference>
            </connector>
            <label>New User</label>
        </rules>
    </decisions>
    <description>added mapping for default values on load/rerender</description>
    <interviewLabel>CADMV User Registration {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CADMV User Registration</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>getDupUserRecord</name>
        <label>getDupUserRecord</label>
        <locationX>811</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckDupUserAccount</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>userEmailValue</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>User_Account_Registration</name>
        <label>User Account Registration</label>
        <locationX>811</locationX>
        <locationY>323</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Set_Duplicate_Variable_to_False</targetReference>
        </connector>
        <fields>
            <name>UserAccountCreationDisclaimer</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); font-size: 16px; background-color: rgb(255, 255, 255);&quot;&gt;Note: DMV is improving the customer experience in our offices and on our website. As of February 22, 2020, DMV started fresh with a new, upgraded online customer account system.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0); font-size: 16px; background-color: rgb(255, 255, 255);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>User_First_Name1</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>User_First_Name1</elementReference>
            </defaultValue>
            <fieldText>First Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>User_middle_name1</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>User_middle_name1</elementReference>
            </defaultValue>
            <fieldText>Middle Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>user_Last_Name1</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>user_Last_Name1</elementReference>
            </defaultValue>
            <fieldText>Last Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>phone</name>
            <extensionName>c:phoneFormattedInput</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>max</name>
                <value>
                    <numberValue>12.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>min</name>
                <value>
                    <numberValue>12.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>phone.value</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Phone</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>UserEmail</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>placeholder</name>
                <value>
                    <stringValue>youremail@example.com</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>userEmailValue</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>userEmailValue</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>ExistingAccountDisplay</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(194, 57, 52);&quot;&gt;An account with this email already exist.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>duplicateUser</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>ConfirmEmail</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>userEmailValue</elementReference>
            </defaultValue>
            <fieldText>Confirm Email</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(194, 57, 52); background-color: rgb(255, 255, 255);&quot;&gt;Email Addresses do not match.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>{!userEmailValue} == {!ConfirmEmail}</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>DrivingLicenseNumber</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>DrivingLicenseNumberEntered</elementReference>
            </defaultValue>
            <fieldText>Driving License Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Terms_and_Conditions</name>
            <extensionName>c:CADMV_signupFormTermAndConditions</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>validation</name>
            <extensionName>c:flowValidation</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>isValid</name>
                <value>
                    <elementReference>validation.isValid</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>685</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>User_Account_Registration</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>DrivingLicenseNumberEntered</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Stores a boolean if a user with an existing email account is found.</description>
        <name>duplicateUser</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>isValid</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ShowTermandconditions</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>Used to store the email value for validation.</description>
        <name>userEmailValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
