force-app/main/default/flows/CADMV_RegulatoryViolationCodeAfterUpdate.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Not_Uploaded</name>
        <label>Not Uploaded</label>
        <locationX>358</locationX>
        <locationY>1271</locationY>
        <assignmentItems>
            <assignToReference>PhotosNOTUploaded</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RCV_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Status_Follow_Up_Photos_Submitted_0</name>
        <label>Status Follow Up Photos Submitted</label>
        <locationX>50</locationX>
        <locationY>1703</locationY>
        <assignmentItems>
            <assignToReference>Visit.CADMV_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Failed - Follow Up Photos Submitted</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Visit</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Status_to_Open</name>
        <label>Status to Open</label>
        <locationX>160</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>$Record.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Applicant_Uploads_Photos</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Applicant_Uploads_Photos</name>
        <label>Applicant Uploads Photos?</label>
        <locationX>292</locationX>
        <locationY>671</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Photos_Uploaded</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CADMV_ApplicantHasUploadedPhotos__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Visit</targetReference>
            </connector>
            <label>Photos Uploaded?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Photos_Uploaded2</name>
        <label>Photos Uploaded?</label>
        <locationX>270</locationX>
        <locationY>1151</locationY>
        <defaultConnector>
            <targetReference>Not_Uploaded</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Photos NOT Uploaded</defaultConnectorLabel>
        <rules>
            <name>Photos_Uploaded3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RCV_Loop.CADMV_ApplicantHasUploadedPhotos__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RCV_Loop</targetReference>
            </connector>
            <label>Photos Uploaded?</label>
        </rules>
    </decisions>
    <decisions>
        <name>RCV_Status_Blank</name>
        <label>RCV Status Blank</label>
        <locationX>292</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>Applicant_Uploads_Photos</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Blank_Status</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Status_to_Open</targetReference>
            </connector>
            <label>Blank Status</label>
        </rules>
    </decisions>
    <decisions>
        <name>RCVs_With_Photos_To_Upload</name>
        <label>RCVs With Photos To Upload</label>
        <locationX>94</locationX>
        <locationY>1583</locationY>
        <defaultConnector>
            <targetReference>Update_Visit</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Photos_To_Upload</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PhotosNOTUploaded</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Inspection.CADMV_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Failed - Photos Required</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Visit</targetReference>
            </connector>
            <label>Photos To Upload</label>
        </rules>
        <rules>
            <name>Photos_All_Uploaded</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PhotosNOTUploaded</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Visit.CADMV_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Failed - Photos Required</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Status_Follow_Up_Photos_Submitted_0</targetReference>
            </connector>
            <label>Photos All Uploaded</label>
        </rules>
    </decisions>
    <interviewLabel>RegulatoryViolationCodeAfterUpdate {!$Flow.CurrentDateTime}</interviewLabel>
    <label>RegulatoryViolationCodeAfterUpdate</label>
    <loops>
        <name>RCV_Loop</name>
        <label>RCV Loop</label>
        <locationX>94</locationX>
        <locationY>1031</locationY>
        <collectionReference>Get_All_RCVs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Photos_Uploaded2</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>RCVs_With_Photos_To_Upload</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_All_RCVs</name>
        <label>Get All RCVs</label>
        <locationX>94</locationX>
        <locationY>911</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>RCV_Loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>InspectionId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.InspectionId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>RegulatoryCodeViolation</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Visit</name>
        <label>Visit</label>
        <locationX>94</locationX>
        <locationY>791</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_All_RCVs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.InspectionId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Visit</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Visit</name>
        <label>Update Visit</label>
        <locationX>94</locationX>
        <locationY>1919</locationY>
        <inputReference>Visit</inputReference>
    </recordUpdates>
    <start>
        <locationX>166</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>RCV_Status_Blank</targetReference>
        </connector>
        <object>RegulatoryCodeViolation</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>PhotosNOTUploaded</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
