force-app/main/default/flows/CADMV_Supervisor_Inspector_Notification_Flow_Visit_After_Create_Edit.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>CADMV_Send_Cancelled_Notification_to_Supervisor</name>
        <label>Send Cancelled Notification to Supervisor</label>
        <locationX>1163</locationX>
        <locationY>1096</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Supervisor_Custom_Notification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>CustomNotifBodyForCancelledSupervisor</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>customNotifTitleCancelledAppointmentForSupervisor</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>CADMV_PreviousVisitorId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Notif_For_Cancellation_for_Reassignment</name>
        <label>Notif For Cancellation for Reassignment</label>
        <locationX>461</locationX>
        <locationY>1407</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Supervisor_Custom_Notification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>CustomNotifBodyForCancelledAppointmentForInspector</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>CustomNotifTitleForCancelledAppointmetForInspector</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>CADMV_PreviousVisitorId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Notif_to_Reassigned_Inspector</name>
        <label>Notif to Reassigned Inspector</label>
        <locationX>461</locationX>
        <locationY>1242</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>Notif_For_Cancellation_for_Reassignment</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Supervisor_Custom_Notification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>CustomNotifBodyForInspector</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>CustomNotifTitleForInspector</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>CADMV_Supervisor</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Notif_to_Scheduled_Inspectors</name>
        <label>Notif to Scheduled Inspectors</label>
        <locationX>588</locationX>
        <locationY>1176</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Supervisor_Custom_Notification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>CustomNotifBodyForInspector</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>CustomNotifTitleForInspector</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>CADMV_Supervisor</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Reschedule_Notif_to_Inspector_or_Supervisor</name>
        <label>Reschedule Notif to Inspector or Supervisor</label>
        <locationX>1026</locationX>
        <locationY>1230</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Supervisor_Custom_Notification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>CustomNotifBodyForRescheduledNotifToInspectorOrSupervisor</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>CustomNotifTitleForRescheduledInspectionToInspectorOrSupervisor</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>CADMV_PreviousVisitorId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Reschedule_Notification</name>
        <label>Reschedule Notification</label>
        <locationX>720</locationX>
        <locationY>1150</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Supervisor_Custom_Notification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>CustomNotifBodyForRescheduledNotifToInspectorOrSupervisor</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>CustomNotifTitleForRescheduledInspectionToInspectorOrSupervisor</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>CADMV_Supervisor</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Cancelled_Notification_to_Inspector</name>
        <label>Send Cancelled Notification to Inspector</label>
        <locationX>1379</locationX>
        <locationY>883</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>Send_Cancelled_Notification_to_Inspector_s_Supervisor</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Supervisor_Custom_Notification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>CustomNotifBodyForCancelledAppointmentForInspector</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>CustomNotifTitleForCancelledAppointmetForInspector</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>CADMV_PreviousVisitorId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Cancelled_Notification_to_Inspector_s_Supervisor</name>
        <label>Send Cancelled Notification to Inspector&apos;s Supervisor</label>
        <locationX>1380</locationX>
        <locationY>1147</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Supervisor_Custom_Notification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>CustomNotifBodyForCancelledAppointmentForInspector</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>CustomNotifTitleForCancelledAppointmetForInspector</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>CADMV_InspectorsSupervisorId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Custom_Notification_to_Inspector</name>
        <label>Send Custom Notification to Inspector</label>
        <locationX>327</locationX>
        <locationY>1144</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Supervisor_Custom_Notification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>CustomNotifBodyForInspector</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>CustomNotifTitleForInspector</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>CADMV_Supervisor</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Notification_to_Supervisor</name>
        <label>Send Notification to Supervisor</label>
        <locationX>191</locationX>
        <locationY>1127</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Supervisor_Custom_Notification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>CustomNotifBodyForPendingAssignedInspectorStatusToSupervisor</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>CustomNotifTitleForPendingAssignedInspectorStatusToSupervisor</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>CADMV_Supervisor</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Supervisor_assignment</name>
        <label>Supervisor assignment</label>
        <locationX>1144</locationX>
        <locationY>368</locationY>
        <assignmentItems>
            <assignToReference>CADMV_Supervisor</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.VisitorId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CADMV_InspectorsSupervisorId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.CADMV_SupervisorId__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CADMV_PreviousVisitorId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.CADMV_PreviousVisitorId__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CADMV_CheckForAllIds</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>CADMV_ChangeInStatusOrVisitorId</name>
        <label>Change in status or Visitor id</label>
        <locationX>452</locationX>
        <locationY>989</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CADMV_Visit_Status_from_Assign_to_Inspector</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Record_from_User.UserRole.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Inspector</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CADMV_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Scheduled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CADMV_PreviousStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending Inspector Assignment</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Custom_Notification_to_Inspector</targetReference>
            </connector>
            <label>Visit Status from Assign to Inspector</label>
        </rules>
        <rules>
            <name>CADMV_ReassignInspector</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.VisitorId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.CADMV_PreviousVisitorId__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CADMV_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Scheduled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CADMV_PreviousVisitorId__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Notif_to_Reassigned_Inspector</targetReference>
            </connector>
            <label>Reassign Inspector</label>
        </rules>
        <rules>
            <name>CADMV_Just_scheduled_Status</name>
            <conditionLogic>1 AND (2 OR 3 OR 4) AND 5</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CADMV_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Scheduled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CADMV_PreviousStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CADMV_PreviousStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Rescheduled</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CADMV_PreviousStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Cancelled</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.VisitorId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Notif_to_Scheduled_Inspectors</targetReference>
            </connector>
            <label>Just scheduled Status</label>
        </rules>
    </decisions>
    <decisions>
        <name>CADMV_CheckForAllIds</name>
        <label>Check for All Ids</label>
        <locationX>1142</locationX>
        <locationY>510</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CADMV_CheckForNullValuesForAllIds</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>CADMV_PreviousVisitorId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CADMV_Supervisor</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Record_from_User</targetReference>
            </connector>
            <label>Check For Null Values for all Ids</label>
        </rules>
    </decisions>
    <decisions>
        <name>CADMV_CheckForPreviousVisitorIdIsNullornot</name>
        <label>Check for Previous visitor id is null or not</label>
        <locationX>1016</locationX>
        <locationY>1014</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CADMV_IsPreviousVisitorIdNotNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CADMV_PreviousVisitorId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reschedule_Notif_to_Inspector_or_Supervisor</targetReference>
            </connector>
            <label>Is previous visitor id not null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Visitor_Id_is_null</name>
        <label>Check for Visitor Id is null</label>
        <locationX>829</locationX>
        <locationY>1011</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CADMVIsVisitorIDNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.VisitorId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CADMV_CheckForPreviousVisitorIdIsNullornot</targetReference>
            </connector>
            <label>Is VisitorID Null</label>
        </rules>
        <rules>
            <name>CADMV_IsVisitoridNotNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.VisitorId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reschedule_Notification</targetReference>
            </connector>
            <label>Is Visitor id Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Role</name>
        <label>Check Role</label>
        <locationX>1148</locationX>
        <locationY>881</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Supervisor_Role</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Record_from_User.UserRole.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Supervisor Inspector</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Service_Appointment__r.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cancelled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CADMV_Send_Cancelled_Notification_to_Supervisor</targetReference>
            </connector>
            <label>Supervisor Role</label>
        </rules>
        <rules>
            <name>Inspector_Role</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Record_from_User.UserRole.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Inspector</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Service_Appointment__r.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cancelled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Cancelled_Notification_to_Inspector</targetReference>
            </connector>
            <label>Inspector Role</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check for different status</description>
        <name>Check_Visit_Status</name>
        <label>Check Visit Status</label>
        <locationX>830</locationX>
        <locationY>865</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Pending_Inspector_Assignment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CADMV_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending Inspector Assignment</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Confirm_as_a_Supervisor</targetReference>
            </connector>
            <label>Pending Inspector Assignment</label>
        </rules>
        <rules>
            <name>Scheduled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CADMV_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Scheduled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CADMV_ChangeInStatusOrVisitorId</targetReference>
            </connector>
            <label>Scheduled</label>
        </rules>
        <rules>
            <name>Rescheduled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CADMV_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rescheduled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_for_Visitor_Id_is_null</targetReference>
            </connector>
            <label>Rescheduled</label>
        </rules>
        <rules>
            <name>Cancelled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CADMV_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cancelled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Role</targetReference>
            </connector>
            <label>Cancelled</label>
        </rules>
    </decisions>
    <decisions>
        <name>Confirm_as_a_Supervisor</name>
        <label>Confirm as a Supervisor</label>
        <locationX>183</locationX>
        <locationY>874</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Supervisor_Confirmation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Record_from_User.UserRole.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Supervisor Inspector</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Service_Appointment__r.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Scheduled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Notification_to_Supervisor</targetReference>
            </connector>
            <label>Supervisor Confirmation</label>
        </rules>
    </decisions>
    <interviewLabel>CADMV Supervisor &amp; Inspector Notification Flow Visit  After Create &amp; Edit {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CADMV Supervisor &amp; Inspector Notification Flow Visit  After Create &amp; Edit</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Get role name from User object</description>
        <name>Get_Record_from_User</name>
        <label>Get Record from User</label>
        <locationX>841</locationX>
        <locationY>602</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Supervisor_Custom_Notification</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.VisitorId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CADMV_PreviousVisitorId__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CADMV_SupervisorId__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Supervisor_Custom_Notification</name>
        <label>Supervisor Custom Notification</label>
        <locationX>840</locationX>
        <locationY>744</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Visit_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>InspectorManager_Notification</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>1017</locationX>
        <locationY>71</locationY>
        <connector>
            <targetReference>Supervisor_assignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Service_Appointment__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Visit</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <description>Notification for Inspector for Cancelled appointment</description>
        <name>CustomNotifBodyForCancelledAppointmentForInspector</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>The Inspection for {!$Record.CADMV_BusinessNameForEmail__c} at {!$Record.CADMV_BusinessAddressForEmail__c}  that was scheduled for {!$Record.PlannedVisitStartTime} has been cancelled. Please verify.</text>
    </textTemplates>
    <textTemplates>
        <description>Notification sent to supervisor for Cancelled appointment</description>
        <name>CustomNotifBodyForCancelledSupervisor</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>The Inspection for {!$Record.CADMV_BusinessNameForEmail__c} at {!$Record.CADMV_BusinessAddressForEmail__c} that was scheduled for {!$Record.PlannedVisitStartTime} has been cancelled. Please verify.</text>
    </textTemplates>
    <textTemplates>
        <name>CustomNotifBodyForInspector</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>A new inspection on {!$Record.CADMV_BusinessNameForEmail__c} at {!$Record.CADMV_BusinessAddressForEmail__c} on {!$Record.CADMV_LicenseType__c} at {!$Record.PlannedVisitStartTime}  has been scheduled.</text>
    </textTemplates>
    <textTemplates>
        <name>CustomNotifBodyForPendingAssignedInspectorStatusToSupervisor</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>A new inspection on {!$Record.PlannedVisitStartTime} has been assigned to you. Please verify the visit page.</text>
    </textTemplates>
    <textTemplates>
        <name>CustomNotifBodyForRescheduledNotifToInspectorOrSupervisor</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>You are no longer responsible for an appointment that was assigned to you on {!$Record.PlannedVisitStartTime}. Please check the visit page.</text>
    </textTemplates>
    <textTemplates>
        <description>Custom notification Title for Cancelled Appointment for supervisor.</description>
        <name>customNotifTitleCancelledAppointmentForSupervisor</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>The Inspection for {!$Record.CADMV_BusinessNameForEmail__c} at {!$Record.CADMV_BusinessAddressForEmail__c} for {!$Record.PlannedVisitStartTime} has been cancelled.</text>
    </textTemplates>
    <textTemplates>
        <description>Custom Notification title for Inspector for Cancelled Appointment</description>
        <name>CustomNotifTitleForCancelledAppointmetForInspector</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>The Inspection for {!$Record.CADMV_BusinessNameForEmail__c} at {!$Record.CADMV_BusinessAddressForEmail__c}  on {!$Record.PlannedVisitStartTime} has been cancelled.</text>
    </textTemplates>
    <textTemplates>
        <name>CustomNotifTitleForInspector</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>A new inspection on {!$Record.CADMV_BusinessNameForEmail__c} at {!$Record.CADMV_BusinessAddressForEmail__c} on {!$Record.CADMV_LicenseType__c} at {!$Record.PlannedVisitStartTime} has been scheduled.</text>
    </textTemplates>
    <textTemplates>
        <name>CustomNotifTitleForPendingAssignedInspectorStatusToSupervisor</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>A new inspection on {!$Record.PlannedVisitStartTime} has been assigned to you.</text>
    </textTemplates>
    <textTemplates>
        <name>CustomNotifTitleForRescheduledInspectionToInspectorOrSupervisor</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>The Inspection for {!$Record.CADMV_BusinessNameForEmail__c} at {!$Record.CADMV_BusinessAddressForEmail__c} for {!$Record.PlannedVisitStartTime} has been cancelled.</text>
    </textTemplates>
    <variables>
        <name>CADMV_InspectorsSupervisorId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CADMV_PreviousVisitorId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CADMV_Supervisor</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>InspectorID</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
