force-app/main/default/flows/CADMV_BusinessLicenseApplicationBeforeCreateUpdate.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <decisions>
        <name>License_Type_Name_Blank_or_Changed</name>
        <label>License Type Name Blank or Changed?</label>
        <locationX>182</locationX>
        <locationY>311</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Blank_or_Changed</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CADMV_LicenseTypeName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CADMV_LicenseTypeName__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.LicenseType.Name</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_BLA_0</targetReference>
            </connector>
            <label>Blank or Changed?</label>
        </rules>
    </decisions>
    <description>Before flow that updates fields on the BLA</description>
    <interviewLabel>BusinessLicenseApplicationBeforeCreateUpdate {!$Flow.CurrentDateTime}</interviewLabel>
    <label>BusinessLicenseApplicationBeforeCreateUpdate</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_BLA_0</name>
        <label>Update BLA</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>CADMV_LicenseTypeName__c</field>
            <value>
                <elementReference>$Record.LicenseType.Name</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>License_Type_Name_Blank_or_Changed</targetReference>
        </connector>
        <object>BusinessLicenseApplication</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
