force-app/main/default/flows/CADMV_AssessmentTaskRegulatoryCode.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>CADMV_AssignCollection</name>
        <label>Assign Collection</label>
        <locationX>505</locationX>
        <locationY>1015</locationY>
        <assignmentItems>
            <assignToReference>CADMV_InspectionAssessmentUpdateCol</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CADMV_InspectionAssessmentObj</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CADMV_ValidateFile</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CADMV_AssignFilesLoaded</name>
        <label>Assign Files Loaded</label>
        <locationX>771</locationX>
        <locationY>644</locationY>
        <assignmentItems>
            <assignToReference>CADMV_ContentFileUpdate.ContentDocumentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CADMV_VerifyFilesLoaded</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CADMV_ContentFileUpdate.ShareType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>V</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CADMV_ContentFileUpdate.LinkedEntityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CADMV_InspectionAssessmentIndScreen.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CADMV_FilesAdded</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CADMV_ContentFileUpdate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CADMV_VerifyFilesLoaded</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CADMV_AssignInspectionInformation</name>
        <label>Assign Inspection Information</label>
        <locationX>370</locationX>
        <locationY>897</locationY>
        <assignmentItems>
            <assignToReference>CADMV_FileSizeLoaded</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>CADMV_ContentDocumentIdLoaded</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CADMV_InspectionAssessmentObj.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CADMV_InspectionAssessmentIndScreen.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CADMV_InspectionAssessmentObj.Result</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CADMV_Result</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CADMV_AssignCollection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CADMV_GatherCurrentAssessment</name>
        <label>Gather Current Assessment</label>
        <locationX>751</locationX>
        <locationY>294</locationY>
        <assignmentItems>
            <assignToReference>CADMV_CurrentInspectionCounter</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CADMV_InspectionAssessmentIndScreen</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CADMV_CurrentCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>CADMV_CurrentInspectionCounter</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CADMV_RegulatoryCodeInd</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CADMV_TotalAssessment</name>
        <label>Gather Total Assessment</label>
        <locationX>349</locationX>
        <locationY>479</locationY>
        <assignmentItems>
            <assignToReference>CADMV_TotalCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>CADMV_InspectionAssessmentInd</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CADMV_InspectionAssessmentIndCol</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>CADMV_Validate_File</name>
        <label>Validate File</label>
        <locationX>1203</locationX>
        <locationY>694</locationY>
        <defaultConnector>
            <targetReference>CADMV_FirstErrorMessagePanel_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>success_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CADMV_FileSizeLoaded</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CADMV_ContentFilesInsert</targetReference>
            </connector>
            <label>success</label>
        </rules>
    </decisions>
    <decisions>
        <name>CADMV_ValidateCurrentAssessment</name>
        <label>Validate Current Assessment</label>
        <locationX>235</locationX>
        <locationY>662</locationY>
        <defaultConnector>
            <targetReference>CADMV_InspectionAssessmentInd</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>successs</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CADMV_CurrentCount</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>CADMV_TotalCount</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CADMV_AssignInspectionInformation</targetReference>
            </connector>
            <label>success</label>
        </rules>
    </decisions>
    <decisions>
        <name>CADMV_ValidateFile</name>
        <label>Validate File</label>
        <locationX>710</locationX>
        <locationY>959</locationY>
        <defaultConnector>
            <targetReference>CADMV_InspectionAssessmentIndScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>success_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CADMV_FileSizeLoaded</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CADMV_VerifyFilesLoaded</targetReference>
            </connector>
            <label>success</label>
        </rules>
    </decisions>
    <decisions>
        <name>CADMV_ValidateFile_2</name>
        <label>Validate File</label>
        <locationX>1369</locationX>
        <locationY>969</locationY>
        <defaultConnector>
            <targetReference>CADMV_InspectionAssessmentIndScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>success_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CADMV_FileSizeLoaded</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CADMV_SingleContentFilesInsert</targetReference>
            </connector>
            <label>success</label>
        </rules>
    </decisions>
    <decisions>
        <name>CADMV_ValidateTotalAssessment</name>
        <label>Validate Total Assessment</label>
        <locationX>558</locationX>
        <locationY>200</locationY>
        <defaultConnector>
            <targetReference>CADMV_FirstErrorMessagePanel</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>success</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CADMV_TotalCount</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CADMV_InspectionAssessmentIndScreen</targetReference>
            </connector>
            <label>success</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>CADMV_Result</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Result</picklistField>
        <picklistObject>InspectionAssessmentInd</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>Assessment Task Regulatory Code {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Assessment Task Regulatory Code</label>
    <loops>
        <name>CADMV_InspectionAssessmentIndCol</name>
        <label>Inspection Assessment Ind Col</label>
        <locationX>345</locationX>
        <locationY>279</locationY>
        <collectionReference>CADMV_InspectionAssessmentInd</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>CADMV_TotalAssessment</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>CADMV_ValidateTotalAssessment</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>CADMV_InspectionAssessmentIndScreen</name>
        <label>Inspection Assessment Screen</label>
        <locationX>497</locationX>
        <locationY>494</locationY>
        <collectionReference>CADMV_InspectionAssessmentInd</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>CADMV_GatherCurrentAssessment</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>CADMV_InspectionAssessmentUpdate</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>CADMV_VerifyFilesLoaded</name>
        <label>Verify Files Loaded</label>
        <locationX>888</locationX>
        <locationY>835</locationY>
        <collectionReference>CADMV_ContentDocumentIdLoaded</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>CADMV_AssignFilesLoaded</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>CADMV_ValidateFile_2</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CADMV_ContentFilesInsert</name>
        <label>Content Files - Insert</label>
        <locationX>1443</locationX>
        <locationY>648</locationY>
        <inputReference>CADMV_FilesAdded</inputReference>
    </recordCreates>
    <recordCreates>
        <name>CADMV_SingleContentFilesInsert</name>
        <label>Single Content Files - Insert</label>
        <locationX>600</locationX>
        <locationY>1165</locationY>
        <connector>
            <targetReference>CADMV_InspectionAssessmentIndScreen</targetReference>
        </connector>
        <inputReference>CADMV_ContentFileUpdate</inputReference>
    </recordCreates>
    <recordLookups>
        <name>CADMV_InspectionAssessmentInd</name>
        <label>Inspection Assessment Ind</label>
        <locationX>133</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CADMV_InspectionAssessmentIndCol</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AssessmentTaskId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>InspectionAssessmentInd</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>CADMV_RegulatoryCodeInd</name>
        <label>Regulatory Code Ind</label>
        <locationX>967</locationX>
        <locationY>248</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CADMV_InspectionQuestions</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AssessmentIndDefinitionId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CADMV_InspectionAssessmentIndScreen.AssessmentIndDefinitionId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RegulatoryCodeAssessmentInd</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>CADMV_InspectionAssessmentUpdate</name>
        <label>Inspection Assessment - Update</label>
        <locationX>1014</locationX>
        <locationY>574</locationY>
        <connector>
            <targetReference>CADMV_Validate_File</targetReference>
        </connector>
        <inputReference>CADMV_InspectionAssessmentUpdateCol</inputReference>
    </recordUpdates>
    <screens>
        <name>CADMV_FirstErrorMessagePanel</name>
        <label>Output Message</label>
        <locationX>334</locationX>
        <locationY>159</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>CADMV_FirstErrorMessageTxt</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-family: sans-serif;&quot;&gt;There are zero questions setup for this Assessment Task&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>CADMV_FirstErrorMessagePanel_0</name>
        <label>Output Message</label>
        <locationX>1562</locationX>
        <locationY>864</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>CADMV_FirstErrorMessageTxt_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b&gt;Process Completed&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>CADMV_InspectionQuestions</name>
        <label>Inspection Questions</label>
        <locationX>1082</locationX>
        <locationY>419</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>CADMV_ValidateCurrentAssessment</targetReference>
        </connector>
        <fields>
            <name>CADMV_DisplayProgress</name>
            <fieldText>&lt;p&gt;&lt;b&gt;{!CADMV_CurrentCount} of {!CADMV_TotalCount}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CADMV_Question</name>
            <extensionName>flowruntime:url</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Question</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>disabled</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>readonly</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>CADMV_InspectionAssessmentIndScreen.AssessmentIndDefinition.Name</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Result</name>
            <choiceReferences>CADMV_Result</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>CADMV_InspectionAssessmentIndScreen.Result</elementReference>
            </defaultValue>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>CADMV_InspectionQuestions_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>CADMV_InspectionQuestions_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>CADMV_FileUploads</name>
                    <extensionName>forceContent:fileUpload</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Inspection Files</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>multiple</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>CADMV_ContentDocumentIdLoaded</assignToReference>
                        <name>contentDocIds</name>
                    </outputParameters>
                </fields>
                <fields>
                    <name>CADMV_FileLoadMessage</name>
                    <fieldText>&lt;p&gt;Files will be loaded under Inspection Assessment &lt;b&gt;Related List&lt;/b&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>CADMV_InspectionQuestions_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Dss</name>
                    <extensionName>flowruntime:image</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>imageName</name>
                        <value>
                            <stringValue>CADMV</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>CADMV_InspectionQuestions_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>CADMV_InspectionQuestions_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>CADMV_DisplayRegulatoryCode</name>
                    <fieldText>&lt;p&gt;&lt;a href=&quot;{!CADMV_RegulatoryCodeInd.RegulatoryCode.CADMV_DescriptionLink__c}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 14px;&quot;&gt;View Regulatory Code&lt;/a&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>CADMV_RegulatoryCodeInd.RegulatoryCode.CADMV_DescriptionLink__c</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>CADMV_InspectionQuestions_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>64</locationX>
        <locationY>62</locationY>
        <connector>
            <targetReference>CADMV_InspectionAssessmentInd</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CADMV_ContentDocumentIdLoaded</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CADMV_ContentFileUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>CADMV_CurrentCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>CADMV_CurrentInspectionCounter</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>InspectionAssessmentInd</objectType>
    </variables>
    <variables>
        <name>CADMV_DescriptionLink</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CADMV_FilesAdded</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>CADMV_FileSizeLoaded</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>CADMV_InspectionAssessmentObj</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>InspectionAssessmentInd</objectType>
    </variables>
    <variables>
        <name>CADMV_InspectionAssessmentUpdateCol</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>InspectionAssessmentInd</objectType>
    </variables>
    <variables>
        <name>CADMV_TotalCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
