force-app/main/default/flows/CADMV_ManagerAssignReassignInspections.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>CADMV_AssignMember</name>
        <label>Assign Member</label>
        <locationX>719</locationX>
        <locationY>1535</locationY>
        <assignmentItems>
            <assignToReference>CADMV_MembersId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CADMV_OpenCollection.ServiceResource.RelatedRecordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CADMV_NewResource</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CADMV_OpenCollection.ServiceResourceId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CADMV_OpenCollection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Initial_Assignment</name>
        <label>Initial Assignment</label>
        <locationX>608</locationX>
        <locationY>612</locationY>
        <assignmentItems>
            <assignToReference>CADMV_PreviousMembersId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CADMV_GetPreviousInspectorVisit.VisitorId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Work_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetLocationStage</name>
        <label>Set Location Stage</label>
        <locationX>610</locationX>
        <locationY>867</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LocationStage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CADMV_GetBusinessLicenseApplication</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetTopicStage</name>
        <label>Set Topic Stage</label>
        <locationX>610</locationX>
        <locationY>724</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TopicStage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkTypeGroupId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Work_Type_Group.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SetLocationStage</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>CADMV_ChoiceNo</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>CADMV_ChoiceYes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <constants>
        <name>FIND_RESOURCE</name>
        <dataType>String</dataType>
        <value>
            <stringValue>findResource</stringValue>
        </value>
    </constants>
    <decisions>
        <name>CADMV_VerifyBusinessLicenseApplicationTimeframe</name>
        <label>Verify Business License Application Timeframe</label>
        <locationX>605</locationX>
        <locationY>1032</locationY>
        <defaultConnector>
            <targetReference>CADMV_ValidationErrorOne</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>success</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CADMV_GetBusinessLicenseApplication.CADMV_BusinessLicenseDateValidation__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>CADMV_BLACreationDateLimit</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CADMV_GetZipCode</targetReference>
            </connector>
            <label>success</label>
        </rules>
    </decisions>
    <decisions>
        <name>CADMV_VerifySelection</name>
        <label>Verify Selection</label>
        <locationX>124</locationX>
        <locationY>1693</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Outside</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CADMV_QuestionOne</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CADMV_ChoiceYes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CADMV_GetOutsideServiceTerritorySupervisors</targetReference>
            </connector>
            <label>Outside</label>
        </rules>
        <rules>
            <name>Within</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CADMV_QuestionOne</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CADMV_ChoiceNo</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CADMV_Candidate</targetReference>
            </connector>
            <label>Within</label>
        </rules>
    </decisions>
    <decisions>
        <name>CADMV_ZipCodeEntry</name>
        <label>Verify Zip Code Entry</label>
        <locationX>603</locationX>
        <locationY>1178</locationY>
        <defaultConnector>
            <targetReference>CADMV_ValidationErrorTwo</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>success_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CADMV_GetZipCode</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CADMV_GetServiceTerritoryAssigned</targetReference>
            </connector>
            <label>success</label>
        </rules>
    </decisions>
    <formulas>
        <description>Stores the reminder date to be set for event update.</description>
        <name>formulaReminderDate</name>
        <dataType>Date</dataType>
        <expression>{!ServiceAppointment.SchedStartTime}</expression>
    </formulas>
    <interviewLabel>Manager - Assign/Reassign {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Manager - Assign/Reassign Inspections</label>
    <loops>
        <name>CADMV_OpenCollection</name>
        <label>Open Collection</label>
        <locationX>717</locationX>
        <locationY>1761</locationY>
        <collectionReference>CADMV_ShowServiceMembers.selectedRows_standard1</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>CADMV_AssignMember</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>CADMV_GetAssignedResource</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CADMV_CreateAssignedResource</name>
        <label>Create Assigned Resource</label>
        <locationX>934</locationX>
        <locationY>1524</locationY>
        <connector>
            <targetReference>CADMV_UpdateVisit</targetReference>
        </connector>
        <inputAssignments>
            <field>Role</field>
            <value>
                <stringValue>Inspector</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ServiceAppointmentId</field>
            <value>
                <elementReference>CADMV_GetPreviousInspectorVisit.Service_Appointment__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ServiceResourceId</field>
            <value>
                <elementReference>CADMV_NewResource</elementReference>
            </value>
        </inputAssignments>
        <object>AssignedResource</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordDeletes>
        <name>CADMV_DeleteAssignedResource</name>
        <label>Delete Assigned Resource</label>
        <locationX>934</locationX>
        <locationY>1660</locationY>
        <connector>
            <targetReference>CADMV_CreateAssignedResource</targetReference>
        </connector>
        <inputReference>CADMV_GetAssignedResource</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>CADMV_GetAssignedResource</name>
        <label>Get Assigned Resource</label>
        <locationX>936</locationX>
        <locationY>1792</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CADMV_DeleteAssignedResource</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ServiceAppointmentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CADMV_GetPreviousInspectorVisit.Service_Appointment__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>AssignedResource</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>CADMV_GetBusinessLicenseApplication</name>
        <label>Get Business License Application</label>
        <locationX>429</locationX>
        <locationY>1096</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CADMV_VerifyBusinessLicenseApplicationTimeframe</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CADMV_GetPreviousInspectorVisit.ContextId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>BusinessLicenseApplication</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>CADMV_GetEvent</name>
        <label>Get Event</label>
        <locationX>936</locationX>
        <locationY>1280</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CADMV_UpdateEvent</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Event</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>CADMV_GetOutsideServiceTerritorySupervisors</name>
        <label>Get Outside Service Territory Supervisors</label>
        <locationX>132</locationX>
        <locationY>1882</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ServiceTerritoryId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CADMV_GetServiceTerritoryAssigned.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Role</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Supervisor</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ServiceTerritoryMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>CADMV_GetPreviousInspectorVisit</name>
        <label>Get Previous Inspector Visit</label>
        <locationX>432</locationX>
        <locationY>625</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Initial_Assignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Visit</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>CADMV_GetServiceTerritoryAssigned</name>
        <label>Get Service Territory Assigned</label>
        <locationX>526</locationX>
        <locationY>1395</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CADMV_GetServiceTerritoryMember</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CADMV_GetZipCode.CADMV_ServiceTerritory__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceTerritory</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>CADMV_GetServiceTerritoryMember</name>
        <label>Get Service Territory Member</label>
        <locationX>334</locationX>
        <locationY>1476</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CADMV_Selection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ServiceTerritoryId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CADMV_GetServiceTerritoryAssigned.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Role</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Supervisor</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ServiceTerritoryMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>CADMV_GetZipCode</name>
        <label>Get Zip Code</label>
        <locationX>428</locationX>
        <locationY>1260</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CADMV_ZipCodeEntry</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CADMV_ZipCode__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CADMV_GetBusinessLicenseApplication.SitePostalCode</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CADMV_ZipCodeDirectory__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Used to get the Dealer License Exam Work Type for pre-population</description>
        <name>Get_Work_Type</name>
        <label>Get Work Type</label>
        <locationX>432</locationX>
        <locationY>844</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Work_Type_Group</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WorkTypeName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WorkType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Stores value of Exam Registration for Work Type Group</description>
        <name>Get_Work_Type_Group</name>
        <label>Get Work Type Group</label>
        <locationX>430</locationX>
        <locationY>961</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SetTopicStage</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WorkTypeGroupName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WorkTypeGroup</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>CADMV_UpdateEvent</name>
        <label>Update Event</label>
        <locationX>937</locationX>
        <locationY>1149</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CADMV_GetEvent.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>CADMV_MembersId</elementReference>
            </value>
        </inputAssignments>
        <object>Event</object>
    </recordUpdates>
    <recordUpdates>
        <name>CADMV_UpdateVisit</name>
        <label>Update Visit</label>
        <locationX>934</locationX>
        <locationY>1400</locationY>
        <connector>
            <targetReference>CADMV_GetEvent</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CADMV_GetPreviousInspectorVisit.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CADMV_Status__c</field>
            <value>
                <stringValue>Scheduled</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VisitorId</field>
            <value>
                <elementReference>CADMV_MembersId</elementReference>
            </value>
        </inputAssignments>
        <object>Visit</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>CADMV_Candidate</name>
        <label>Candidate</label>
        <locationX>541</locationX>
        <locationY>1702</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>CADMV_OpenCollection</targetReference>
        </connector>
        <fields>
            <name>CADMV_SelectInspectors</name>
            <fieldText>&lt;p&gt;{!$User.LastName}, {!$User.FirstName} &lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Please select from the list of inspectors within your region below:&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CADMV_Candidate_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>CADMV_Candidate_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>CADMV_Candidate_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>CADMV_ShowServiceMembers</name>
                    <extensionName>c:CADMV_DataTableApp</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>mydata_standard1</name>
                        <value>
                            <elementReference>CADMV_GetServiceTerritoryMember</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>column01_fieldName</name>
                        <value>
                            <stringValue>CADMV_MembersName__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>column01_label</name>
                        <value>
                            <stringValue>Name</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>column02_fieldName</name>
                        <value>
                            <stringValue>CADMV_MembersEmail__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>column02_label</name>
                        <value>
                            <stringValue>Email</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>singleSelection</name>
                        <value>
                            <stringValue>1</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>column01_width</name>
                        <value>
                            <numberValue>300.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>column02_width</name>
                        <value>
                            <numberValue>300.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>column03_fieldName</name>
                        <value>
                            <stringValue>Role</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>column03_label</name>
                        <value>
                            <stringValue>Role</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>column03_width</name>
                        <value>
                            <numberValue>300.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>10</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>CADMV_Candidate_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>CADMV_CandidateOutside</name>
        <label>Candidate Outside</label>
        <locationX>421</locationX>
        <locationY>1898</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>CADMV_Demo</name>
            <fieldText>&lt;p&gt;Coming soon..&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>CADMV_Selection</name>
        <label>Selection</label>
        <locationX>541</locationX>
        <locationY>1575</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>CADMV_VerifySelection</targetReference>
        </connector>
        <fields>
            <name>Title</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Please select from the option below.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CADMV_Selection_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>CADMV_Selection_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>CADMV_Selection_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>CADMV_QuestionOne</name>
                    <choiceReferences>CADMV_ChoiceYes</choiceReferences>
                    <choiceReferences>CADMV_ChoiceNo</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Assign Inspectors outside of my region? (Approval Required)</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>10</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>CADMV_Selection_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>CADMV_ValidationErrorOne</name>
        <label>Validation Error</label>
        <locationX>954</locationX>
        <locationY>618</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>CADMV_ValidationErrorOne_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>CADMV_ValidationErrorOne_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>CADMV_ValidationErrorOne_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>CADMV_ValidationErrorOneText</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b&gt;{!CADMV_ValidationErrorOneMessage}&lt;/b&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>CADMV_ValidationErrorOne_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>CADMV_ValidationErrorTwo</name>
        <label>Validation Error</label>
        <locationX>953</locationX>
        <locationY>1030</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>CADMV_ValidationErrorTwo_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>CADMV_ValidationErrorTwo_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>CADMV_ValidationErrorTwo_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>CADMV_ValidationErrorTwoText</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b&gt;{!CADMV_ValidationErrorTwoMessage}&lt;/b&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>CADMV_ValidationErrorTwo_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <stages>
        <name>AppointmentTypeStage</name>
        <isActive>true</isActive>
        <label>Select Appointment Type</label>
        <stageOrder>10</stageOrder>
    </stages>
    <stages>
        <name>CandidateStage</name>
        <isActive>true</isActive>
        <label>Select Candidate</label>
        <stageOrder>90</stageOrder>
    </stages>
    <stages>
        <name>CompositeStage</name>
        <isActive>false</isActive>
        <label>CompositeStage</label>
        <stageOrder>30</stageOrder>
    </stages>
    <stages>
        <name>ConfirmationStage</name>
        <isActive>true</isActive>
        <label>Confirmation</label>
        <stageOrder>50</stageOrder>
    </stages>
    <stages>
        <name>LocationStage</name>
        <isActive>true</isActive>
        <label>Select Location</label>
        <stageOrder>20</stageOrder>
    </stages>
    <stages>
        <name>ReviewStage</name>
        <isActive>true</isActive>
        <label>Review</label>
        <stageOrder>40</stageOrder>
    </stages>
    <stages>
        <name>TimeSlotStage</name>
        <isActive>true</isActive>
        <label>Select Time Slot</label>
        <stageOrder>95</stageOrder>
    </stages>
    <stages>
        <name>TopicStage</name>
        <isActive>true</isActive>
        <label>Select Topic</label>
        <stageOrder>0</stageOrder>
    </stages>
    <start>
        <locationX>483</locationX>
        <locationY>441</locationY>
        <connector>
            <targetReference>CADMV_GetPreviousInspectorVisit</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <textTemplates>
        <name>txtConfirmationHeader</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;h2 style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 26px;&quot;&gt;Success! Your inspection has been scheduled. Please see your inspection date details below.&lt;/span&gt;&lt;/h2&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: Calibri, &amp;quot;Segoe UI&amp;quot;, Calibri, Thonburi, Arial, Verdana, sans-serif, &amp;quot;Mongolian Baiti&amp;quot;, &amp;quot;Microsoft Yi Baiti&amp;quot;, &amp;quot;Javanese Text&amp;quot;; font-size: 14.6667px; background-color: rgb(255, 255, 255);&quot;&gt; &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>txtLineBreak</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>txtLocationHeader</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;h2 style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 26px;&quot;&gt;Select a Location&lt;/span&gt;&lt;/h2&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>txtSelectAppointmentTimeSlot</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;h2 style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 26px;&quot;&gt;Select a Time Slot&lt;/b&gt;&lt;/h2&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>txtUploadCertificateHeader</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;h2 style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 26px;&quot;&gt;Upload Training Certificate&lt;/b&gt;&lt;/h2&gt;</text>
    </textTemplates>
    <textTemplates>
        <description>Used to store first and last name values from the user.</description>
        <name>txtUserContactName</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!$User.FirstName} {!$User.LastName}</text>
    </textTemplates>
    <variables>
        <name>allowAnonymousBooking</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>allowResourceBooking</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <description>Stores the business Account Id to be used when creating an service appointment</description>
        <name>BusinessAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the business application license id.</description>
        <name>BusinessApplicationLicenseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>BusinessLicenseApplication</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>BusinessLicenseApplication</objectType>
    </variables>
    <variables>
        <name>CADMV_BLACreationDateLimit</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>365.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>CADMV_BLADateHardLimit</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>365</stringValue>
        </value>
    </variables>
    <variables>
        <name>CADMV_MembersId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CADMV_NewResource</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CADMV_PreviousMembersId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>You are Business License Application is outdated and violates the rule to schedule for an appointment. Please reach out to DMV Branch Office.</description>
        <name>CADMV_ValidationErrorOneMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CADMV_ValidationErrorTwoMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Please contact Department of Motor Vehicles regarding your Business License Application as it is not verified.</stringValue>
        </value>
    </variables>
    <variables>
        <name>correlationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Specify a default time zone for Lightning Scheduler appointments.</description>
        <name>DefaultTimeZone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>disableMultiResource</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <description>variable to hold values of distance units.</description>
        <name>distanceUnit</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>mi</stringValue>
        </value>
    </variables>
    <variables>
        <description>Specify a comma-separated list of service resource IDs. Depending on the page, these IDs are used to filter work type groups, service territories, or service resources.</description>
        <name>FilterByResourceIds</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>InspectionEvent</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Event</objectType>
    </variables>
    <variables>
        <description>Stores the Inspection Type named to be used for query.</description>
        <name>InspectionTypeName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Dealership Inspection</stringValue>
        </value>
    </variables>
    <variables>
        <name>isGuestUser</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>IsInbound</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Lead</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>LocationDistance</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>5.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>LocationLatitude</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LocationLongitude</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NewVisit</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Visit</objectType>
    </variables>
    <variables>
        <name>OptionalAttendees</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the API name of the scheduling policy you want to associate with the flow.</description>
        <name>SchedulingPolicyName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectedLocation</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedTimezone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectedTriageOption</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>FIND_RESOURCE</elementReference>
        </value>
    </variables>
    <variables>
        <name>ServiceAppointment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>ServiceAppointmentFields</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ServiceResourceId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ServiceResourceName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>serviceResources</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>showServiceResource</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>showTimeZonePicklist</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>StartDate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Supervisor</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SupervisorId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the value for the error message header on the appointment screen</description>
        <name>txtAppointmentHeaderError</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ValidationErrors</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VisitedParty</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>VisitedParty</objectType>
    </variables>
    <variables>
        <name>VisitId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>WorkTypeGroupId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores Work Type Group Name value for Exam Registration</description>
        <name>WorkTypeGroupName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Inspection Scheduler</stringValue>
        </value>
    </variables>
    <variables>
        <description>Stores the value for work type name</description>
        <name>WorkTypeName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Inspection Scheduler</stringValue>
        </value>
    </variables>
</Flow>
