force-app/main/default/flows/CADMV_RegulatoryViolationObserved.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Inspection_Fail_Email</name>
        <label>Send Inspection Fail Email</label>
        <locationX>1010</locationX>
        <locationY>1390</locationY>
        <actionName>Visit.CADMVInspectionResultFail</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Set_BLA_to_Violations_Observed</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Inspection_Pass_Email</name>
        <label>Send Inspection Pass Email</label>
        <locationX>1010</locationX>
        <locationY>1620</locationY>
        <actionName>Visit.CADMVInspectionResultPass</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Set_BLA_to_Inspection_Completed</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Assign_Regulatory_Code_Violation_Details</name>
        <label>Assign Regulatory Code Violation Details</label>
        <locationX>643</locationX>
        <locationY>1116</locationY>
        <assignmentItems>
            <assignToReference>Verify_Each_RCV_Status.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Medium</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Verify_RCV_Status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>BLA_to_Inspection_Phase</name>
        <label>BLA to Inspection Phase</label>
        <locationX>1139</locationX>
        <locationY>897</locationY>
        <assignmentItems>
            <assignToReference>Get_BLA.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Inspection Phase</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_BLA</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>RCV_Is_Open</name>
        <label>RCV Is Open</label>
        <locationX>341</locationX>
        <locationY>1103</locationY>
        <assignmentItems>
            <assignToReference>DoesRCVExist</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AnyRCVOpen</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Verify_Each_RCV_Status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>RCV_Is_Resolved</name>
        <label>RCV Is Resolved</label>
        <locationX>981</locationX>
        <locationY>1242</locationY>
        <assignmentItems>
            <assignToReference>DoesRCVExist</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Verify_Each_RCV_Status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_BLA_to_Inspection_Completed</name>
        <label>Set BLA to Inspection Completed</label>
        <locationX>1325</locationX>
        <locationY>1612</locationY>
        <assignmentItems>
            <assignToReference>Get_BLA.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_BLA</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_BLA_to_Violations_Observed</name>
        <label>Set BLA to Violations Observed</label>
        <locationX>1306</locationX>
        <locationY>1392</locationY>
        <assignmentItems>
            <assignToReference>Get_BLA.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Violations Observed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_BLA</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Are_any_RCVs_Open</name>
        <label>Are any RCVs Open?</label>
        <locationX>50</locationX>
        <locationY>1425</locationY>
        <defaultConnector>
            <targetReference>Update_Inspection_Status_To_Pass</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_RCV_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DoesRCVExist</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Inspection_Status_To_Pass</targetReference>
            </connector>
            <label>No RCV Exists</label>
        </rules>
        <rules>
            <name>Open_RCV</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DoesRCVExist</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AnyRCVOpen</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Status_NOT_Failed_Manual_Update</targetReference>
            </connector>
            <label>Open RCV</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Visit_Status</name>
        <label>Check Visit Status</label>
        <locationX>1135</locationX>
        <locationY>692</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New_Visit_Created</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Planned</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>BLA_to_Inspection_Phase</targetReference>
            </connector>
            <label>New Visit Created</label>
        </rules>
        <rules>
            <name>Visit_is_Completed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_RCVs</targetReference>
            </connector>
            <label>Visit is Completed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Determine_Visit_Context_Type</name>
        <label>Determine Visit Context Type</label>
        <locationX>1134</locationX>
        <locationY>394</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsBLA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ContextId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>0f0</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_BLA</targetReference>
            </connector>
            <label>IsBLA?</label>
        </rules>
    </decisions>
    <decisions>
        <name>RCV_Id_File_Upload_Field_Updated</name>
        <label>RCV Id File Upload Field Updated</label>
        <locationX>1424</locationX>
        <locationY>267</locationY>
        <defaultConnector>
            <targetReference>Determine_Visit_Context_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>RCVId_Updated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.CADMV_RCVIdFileUpload__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.CADMV_RCVIdFileUpload__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_RCV</targetReference>
            </connector>
            <label>RCVId Updated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Status_NOT_Failed_Manual_Update</name>
        <label>Status NOT Failed Manual Update</label>
        <locationX>439</locationX>
        <locationY>1390</locationY>
        <defaultConnector>
            <targetReference>Update_Inspection_Status_To_Fail</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Manual_Status</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CADMV_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Failed - Photos Required</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CADMV_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Failed - Follow Up Photos Submitted</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CADMV_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Failed - Physical Re-Inspection Required</stringValue>
                </rightValue>
            </conditions>
            <label>Manual Status?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Verify_RCV_Status</name>
        <label>Verify RCV Status</label>
        <locationX>456</locationX>
        <locationY>1272</locationY>
        <defaultConnector>
            <targetReference>RCV_Is_Open</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_RCV_Open</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Verify_Each_RCV_Status.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Open</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RCV_Is_Open</targetReference>
            </connector>
            <label>Is RCV Open</label>
        </rules>
        <rules>
            <name>Is_RCV_Resolved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Verify_Each_RCV_Status.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Resolved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RCV_Is_Resolved</targetReference>
            </connector>
            <label>Is RCV Resolved</label>
        </rules>
    </decisions>
    <description>Add regulatory code id to get rcv element</description>
    <interviewLabel>Update BLA status for Visit {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Regulatory Code Violation Observed</label>
    <loops>
        <name>Verify_Each_RCV_Status</name>
        <label>Verify Each RCV Status</label>
        <locationX>462</locationX>
        <locationY>856</locationY>
        <collectionReference>Get_RCVs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Regulatory_Code</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_RCVs_Description_and_Priority</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_BLA</name>
        <label>Get BLA</label>
        <locationX>1141</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Visit_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ContextId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>BusinessLicenseApplication</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_RCVs</name>
        <label>Get RCVs</label>
        <locationX>797</locationX>
        <locationY>691</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Verify_Each_RCV_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>InspectionId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>RegulatoryCodeViolation</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>RegulatoryCodeId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Regulatory_Code</name>
        <label>Get Regulatory Code</label>
        <locationX>567</locationX>
        <locationY>971</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Regulatory_Code_Violation_Details</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Verify_Each_RCV_Status.RegulatoryCodeId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RegulatoryCode</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_BLA</name>
        <label>Update BLA</label>
        <locationX>1610</locationX>
        <locationY>1616</locationY>
        <inputReference>Get_BLA</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Inspection_Status_To_Fail</name>
        <label>Update Inspection Status To Fail</label>
        <locationX>609</locationX>
        <locationY>1387</locationY>
        <connector>
            <targetReference>Send_Inspection_Fail_Email</targetReference>
        </connector>
        <inputAssignments>
            <field>CADMV_Status__c</field>
            <value>
                <stringValue>Failed</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Inspection_Status_To_Pass</name>
        <label>Update Inspection Status To Pass</label>
        <locationX>615</locationX>
        <locationY>1614</locationY>
        <connector>
            <targetReference>Send_Inspection_Pass_Email</targetReference>
        </connector>
        <inputAssignments>
            <field>CADMV_Status__c</field>
            <value>
                <stringValue>Passed</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_RCV</name>
        <label>Update RCV</label>
        <locationX>1747</locationX>
        <locationY>362</locationY>
        <connector>
            <targetReference>Determine_Visit_Context_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CADMV_RCVIdFileUpload__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CADMV_ApplicantHasUploadedPhotos__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>RegulatoryCodeViolation</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_RCVs_Description_and_Priority</name>
        <label>Update RCVs Description and Priority</label>
        <locationX>153</locationX>
        <locationY>853</locationY>
        <connector>
            <targetReference>Are_any_RCVs_Open</targetReference>
        </connector>
        <inputReference>Get_RCVs</inputReference>
    </recordUpdates>
    <start>
        <locationX>1012</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>RCV_Id_File_Upload_Field_Updated</targetReference>
        </connector>
        <object>Visit</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>AnyRCVOpen</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>DoesRCVExist</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
