force-app/main/default/flows/CADMV_ManagerSchedulesInspection.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Save_Appointment</name>
        <label>Save Appointment</label>
        <locationX>1175</locationX>
        <locationY>1484</locationY>
        <actionName>saveAppointment</actionName>
        <actionType>saveAppointment</actionType>
        <connector>
            <targetReference>CADMV_GetAssignedResource</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>selectedTimezone</name>
            <value>
                <elementReference>selectedTimezone</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceAppointmentFields</name>
            <value>
                <elementReference>ServiceAppointmentFields</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceResources</name>
            <value>
                <elementReference>ServiceResourceId</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>ServiceAppointment.Id</assignToReference>
            <name>serviceAppointmentId</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Scheduled_Inspection_Notification</name>
        <label>Scheduled Inspection Notification</label>
        <locationX>2020</locationX>
        <locationY>979</locationY>
        <actionName>Visit.CADMV_EmailVisitObjectRecipient_InspectionScheduledNotification</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Send_Notification_to_Applicant</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>NewVisit.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Notification_to_Applicant</name>
        <label>Send Notification to Applicant</label>
        <locationX>2223</locationX>
        <locationY>1023</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>ConfirmationScreen</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>SendCustomNotification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>CustomNotifBodyForapplicant</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>CustomNotifTitleForApplicant</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>ApplicantUserId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetPageRef</name>
            <value>
                <elementReference>CADMV_CommunityManageMyInspectionPage</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>CADMV_AssignApplicant</name>
        <label>Assign Applicant</label>
        <locationX>2057</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>ApplicantUserId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_User_id.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_for_Email</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CADMV_AssignNewVisitVariables</name>
        <label>Assign New Visit Variables</label>
        <locationX>1308</locationX>
        <locationY>836</locationY>
        <assignmentItems>
            <assignToReference>NewVisit.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ServiceAppointment.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewVisit.ContextId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CADMV_GetBusinessLicenseApplication.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewVisit.VisitTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CADMV_GetInspectionType.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewVisit.VisitorId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CADMV_GetAssignedResource.ServiceResource.RelatedRecordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewVisit.PlannedVisitStartTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ServiceAppointment.SchedStartTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewVisit.PlannedVisitEndTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ServiceAppointment.SchedEndTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewVisit.PlaceId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Associated_Location.LocationId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewVisit.Service_Appointment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ServiceAppointment.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewVisit.CADMV_ApplicantName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CADMV_GetBusinessLicenseApplication.PrimaryOwner.Account.CADMV_AccountFullNameForEmail__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewVisit.CADMV_InspectorsRegion__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CADMV_GetServiceTerritoryAssigned.CADMV_Region__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewVisit.CADMV_InspectorsTerritoryName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CADMV_GetServiceTerritoryAssigned.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewVisit.CADMV_OfficePhoneNumber__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CADMV_GetServiceTerritoryAssigned.CADMV_PhoneNumber__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewVisit.CADMV_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Scheduled</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewVisit.CADMV_LicenseType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CADMV_GetInspectionType.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewVisit.CADMV_ApplicantEmail__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CADMV_GetBusinessLicenseApplication.PrimaryOwner.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewVisit.CADMV_TerritoryEmail__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CADMV_GetServiceTerritoryAssigned.CADMV_TerritoryEmail__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewVisit.CADMV_SupervisorId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CADMV_GetServiceTerritoryMember.ServiceResource.RelatedRecordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewVisit.CADMV_BusinessAddressForEmail__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CADMV_GetBusinessLicenseApplication.CADMV_BusinessAddress__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewVisit.CADMV_BusinessNameForEmail__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CADMV_GetBusinessLicenseApplication.Account.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CADMV_CreateNewVisit</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CADMV_LocationAssignment</name>
        <label>Location Assignment</label>
        <locationX>606</locationX>
        <locationY>1509</locationY>
        <assignmentItems>
            <assignToReference>ServiceAppointment.City</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CADMV_GetServiceTerritoryAssigned.City</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.State</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CADMV_GetServiceTerritoryAssigned.State</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.ServiceTerritoryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CADMV_GetServiceTerritoryAssigned.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.Country</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CADMV_GetServiceTerritoryAssigned.Country</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.PostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CADMV_GetServiceTerritoryAssigned.PostalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.Street</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CADMV_GetServiceTerritoryAssigned.Street</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.State</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CADMV_GetServiceTerritoryAssigned.State</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BusinessAccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CADMV_GetBusinessLicenseApplication.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.ParentRecordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CADMV_GetBusinessLicenseApplication.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.Business_License_Application__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CADMV_GetBusinessLicenseApplication.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CADMV_GetBusinessLicenseApplication.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Scheduled</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ResourceDecision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Initial_Assignment</name>
        <label>Initial Assignment</label>
        <locationX>609</locationX>
        <locationY>609</locationY>
        <assignmentItems>
            <assignToReference>ServiceAppointment.ParentRecordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BusinessAccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.AdditionalInformation</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.Comments</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.AppointmentType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.Street</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.City</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.State</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.PostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.Country</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.ServiceTerritoryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.SchedStartTime</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.SchedEndTime</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.ArrivalWindowStartTime</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.ArrivalWindowEndTime</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.IsAnonymousBooking</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>allowAnonymousBooking</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.ContactId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Work_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetCandidateStage</name>
        <label>Set Candidate Stage</label>
        <locationX>728</locationX>
        <locationY>1355</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CompositeStage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CandidateScreen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetConfirmationStage</name>
        <label>Set Confirmation Stage</label>
        <locationX>1631</locationX>
        <locationY>818</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ConfirmationStage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_User_id</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetLocationStage</name>
        <label>Set Location Stage</label>
        <locationX>610</locationX>
        <locationY>867</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LocationStage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CADMV_GetBusinessLicenseApplication</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetReviewStage</name>
        <label>Set Review Stage</label>
        <locationX>865</locationX>
        <locationY>1359</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ReviewStage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ReviewScreen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetTopicStage</name>
        <label>Set Topic Stage</label>
        <locationX>610</locationX>
        <locationY>724</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TopicStage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkTypeGroupId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Work_Type_Group.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SetLocationStage</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>choiceFailExam</name>
        <choiceText>Fail Exam</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Fail</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceHasTrainingCertificateFalse</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>false</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceHasTrainingCertificateTrue</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>true</stringValue>
        </value>
    </choices>
    <choices>
        <name>choicePassExam</name>
        <choiceText>Pass Exam</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Pass</stringValue>
        </value>
    </choices>
    <constants>
        <name>DEFAULT_COMPANY_VALUE</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Not Provided</stringValue>
        </value>
    </constants>
    <constants>
        <name>FIND_RESOURCE</name>
        <dataType>String</dataType>
        <value>
            <stringValue>findResource</stringValue>
        </value>
    </constants>
    <decisions>
        <name>CADMV_VerifyBusinessLicenseApplicationTimeframe</name>
        <label>Verify Business License Application Timeframe</label>
        <locationX>605</locationX>
        <locationY>1032</locationY>
        <defaultConnector>
            <targetReference>CADMV_ValidationErrorOne</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>success</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CADMV_GetBusinessLicenseApplication.CADMV_BusinessLicenseDateValidation__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>CADMV_BLACreationDateLimit</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CADMV_GetZipCode</targetReference>
            </connector>
            <label>success</label>
        </rules>
    </decisions>
    <decisions>
        <name>CADMV_ZipCodeEntry</name>
        <label>Verify Zip Code Entry</label>
        <locationX>603</locationX>
        <locationY>1178</locationY>
        <defaultConnector>
            <targetReference>CADMV_ValidationErrorTwo</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>success_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CADMV_GetZipCode</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CADMV_GetServiceTerritoryAssigned</targetReference>
            </connector>
            <label>success</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Email</name>
        <label>Check for Email</label>
        <locationX>2216</locationX>
        <locationY>822</locationY>
        <defaultConnector>
            <targetReference>Send_Notification_to_Applicant</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Email_Present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NewVisit.CADMV_ApplicantEmail__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Scheduled_Inspection_Notification</targetReference>
            </connector>
            <label>Is Email Present</label>
        </rules>
    </decisions>
    <decisions>
        <name>ResourceDecision</name>
        <label>Resource Decision</label>
        <locationX>572</locationX>
        <locationY>1350</locationY>
        <defaultConnectorLabel>Candidate Selected</defaultConnectorLabel>
        <rules>
            <name>FindResourceDisableMRandCSFalse</name>
            <conditionLogic>1 AND (2 OR 3) AND (4 OR 5)</conditionLogic>
            <conditions>
                <leftValueReference>SelectedTriageOption</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>FIND_RESOURCE</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>disableMultiResource</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>disableMultiResource</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>allowResourceBooking</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>allowAnonymousBooking</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Find Resource Disable MR and CS False</label>
        </rules>
        <rules>
            <name>FindResourceDisableMRandCSTrue</name>
            <conditionLogic>1 AND 2 AND (3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>SelectedTriageOption</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>FIND_RESOURCE</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>disableMultiResource</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>allowResourceBooking</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>allowAnonymousBooking</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetCandidateStage</targetReference>
            </connector>
            <label>Find Resource Disable MR and CS True</label>
        </rules>
        <rules>
            <name>FindServiceResourceforAnonymousBooking</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SelectedTriageOption</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>FIND_RESOURCE</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>allowAnonymousBooking</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Find Service Resource for Anonymous Booking</label>
        </rules>
    </decisions>
    <description>Removed old BLA reference</description>
    <formulas>
        <description>Stores the reminder date to be set for event update.</description>
        <name>formulaReminderDate</name>
        <dataType>Date</dataType>
        <expression>{!ServiceAppointment.SchedStartTime}</expression>
    </formulas>
    <interviewLabel>Manager - Schedules Inspection {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Manager - Schedules Inspection</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CADMV_CreateNewVisit</name>
        <label>Create New Visit</label>
        <locationX>1300</locationX>
        <locationY>694</locationY>
        <connector>
            <targetReference>CADMV_UpdateBLAWithLatestVisit</targetReference>
        </connector>
        <inputReference>NewVisit</inputReference>
    </recordCreates>
    <recordLookups>
        <name>CADMV_GetAssignedResource</name>
        <label>Get Assigned Resource</label>
        <locationX>1306</locationX>
        <locationY>1365</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CADMV_UpdateAssignedResource</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ServiceAppointmentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ServiceAppointment.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AssignedResource</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>CADMV_GetBusinessLicenseApplication</name>
        <label>Get Business License Application</label>
        <locationX>432</locationX>
        <locationY>994</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CADMV_VerifyBusinessLicenseApplicationTimeframe</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>BusinessApplicationLicenseId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>BusinessLicenseApplication</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Used to query inspection type</description>
        <name>CADMV_GetInspectionType</name>
        <label>Get Inspection Type</label>
        <locationX>1305</locationX>
        <locationY>1083</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Associated_Location</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CADMV_GetBusinessLicenseApplication.LicenseType.Name</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>InspectionType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>CADMV_GetServiceTerritoryAssigned</name>
        <label>Get Service Territory Assigned</label>
        <locationX>436</locationX>
        <locationY>1277</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CADMV_GetServiceTerritoryMember</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CADMV_GetZipCode.CADMV_ServiceTerritory__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceTerritory</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>CADMV_GetServiceTerritoryMember</name>
        <label>Get Service Territory Member</label>
        <locationX>436</locationX>
        <locationY>1429</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CADMV_LocationAssignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ServiceTerritoryId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CADMV_GetServiceTerritoryAssigned.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Role</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Supervisor</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceTerritoryMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>CADMV_GetZipCode</name>
        <label>Get Zip Code</label>
        <locationX>435</locationX>
        <locationY>1149</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CADMV_ZipCodeEntry</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CADMV_ZipCode__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CADMV_GetBusinessLicenseApplication.SitePostalCode</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CADMV_ZipCodeDirectory__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Associated_Location</name>
        <label>Get Associated Location</label>
        <locationX>1301</locationX>
        <locationY>962</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CADMV_AssignNewVisitVariables</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>BusinessAccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AssociatedLocation</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_User_id</name>
        <label>Get User id</label>
        <locationX>1745</locationX>
        <locationY>817</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SendCustomNotification</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CADMV_GetBusinessLicenseApplication.PrimaryOwnerId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Used to get the Dealer License Exam Work Type for pre-population</description>
        <name>Get_Work_Type</name>
        <label>Get Work Type</label>
        <locationX>430</locationX>
        <locationY>689</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Work_Type_Group</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WorkTypeName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WorkType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Stores value of Exam Registration for Work Type Group</description>
        <name>Get_Work_Type_Group</name>
        <label>Get Work Type Group</label>
        <locationX>430</locationX>
        <locationY>847</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SetTopicStage</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WorkTypeGroupName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WorkTypeGroup</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>SendCustomNotification</name>
        <label>SendCustomNotification</label>
        <locationX>1863</locationX>
        <locationY>818</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CADMV_AssignApplicant</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Inspector_Notification</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>CADMV_UpdateAssignedResource</name>
        <label>Update Assigned Resource</label>
        <locationX>1305</locationX>
        <locationY>1220</locationY>
        <connector>
            <targetReference>CADMV_GetInspectionType</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CADMV_GetAssignedResource.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Role</field>
            <value>
                <elementReference>CADMV_GetServiceTerritoryMember.Role</elementReference>
            </value>
        </inputAssignments>
        <object>AssignedResource</object>
    </recordUpdates>
    <recordUpdates>
        <name>CADMV_UpdateBLAWithLatestVisit</name>
        <label>Update BLA with latest visit</label>
        <locationX>1488</locationX>
        <locationY>742</locationY>
        <connector>
            <targetReference>SetConfirmationStage</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CADMV_GetBusinessLicenseApplication.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CADMV_Visit__c</field>
            <value>
                <elementReference>NewVisit.Id</elementReference>
            </value>
        </inputAssignments>
        <object>BusinessLicenseApplication</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>CADMV_ValidationErrorOne</name>
        <label>Validation Error</label>
        <locationX>925</locationX>
        <locationY>1037</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>CADMV_ValidationErrorOne_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>CADMV_ValidationErrorOne_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>CADMV_ValidationErrorOne_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>CADMV_ValidationErrorOneText</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b&gt;{!CADMV_ValidationErrorOneMessage}&lt;/b&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>CADMV_ValidationErrorOne_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>CADMV_ValidationErrorTwo</name>
        <label>Validation Error</label>
        <locationX>929</locationX>
        <locationY>1172</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>CADMV_ValidationErrorTwo_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>CADMV_ValidationErrorTwo_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>CADMV_ValidationErrorTwo_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>CADMV_ValidationErrorTwoText</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b&gt;{!CADMV_ValidationErrorTwoMessage}&lt;/b&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>CADMV_ValidationErrorTwo_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>CandidateScreen</name>
        <label>Candidate Screen</label>
        <locationX>769</locationX>
        <locationY>1511</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>SetReviewStage</targetReference>
        </connector>
        <fields>
            <name>flowResourceTimeSlot</name>
            <extensionName>runtime_appointmentbooking:resourceSlot</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>anonymousBooking</name>
                <value>
                    <elementReference>allowAnonymousBooking</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isAnonymousBooking</name>
                <value>
                    <elementReference>ServiceAppointment.IsAnonymousBooking</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>correlationId</name>
                <value>
                    <elementReference>correlationId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>preselectedTimezone</name>
                <value>
                    <elementReference>DefaultTimeZone</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>filterByResources</name>
                <value>
                    <elementReference>FilterByResourceIds</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isInbound</name>
                <value>
                    <elementReference>IsInbound</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>parentRecordId</name>
                <value>
                    <elementReference>ServiceAppointment.ParentRecordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>schedulingPolicyName</name>
                <value>
                    <elementReference>SchedulingPolicyName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedEndTime</name>
                <value>
                    <elementReference>ServiceAppointment.SchedEndTime</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedStartTime</name>
                <value>
                    <elementReference>ServiceAppointment.SchedStartTime</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedTimezone</name>
                <value>
                    <elementReference>selectedTimezone</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>serviceResourceId</name>
                <value>
                    <elementReference>ServiceResourceId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>resourceBooking</name>
                <value>
                    <elementReference>allowResourceBooking</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>serviceTerritoryId</name>
                <value>
                    <elementReference>ServiceAppointment.ServiceTerritoryId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>areResourcesSortedByAvailability</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showTimeZonePicklist</name>
                <value>
                    <elementReference>showTimeZonePicklist</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currStartDate</name>
                <value>
                    <elementReference>StartDate</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>validationErrors</name>
                <value>
                    <elementReference>ValidationErrors</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>workTypeGroupId</name>
                <value>
                    <elementReference>WorkTypeGroupId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>ServiceAppointment.IsAnonymousBooking</assignToReference>
                <name>isAnonymousBooking</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>ServiceAppointment.SchedEndTime</assignToReference>
                <name>selectedEndTime</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>ServiceAppointment.SchedStartTime</assignToReference>
                <name>selectedStartTime</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>selectedTimezone</assignToReference>
                <name>selectedTimezone</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>ServiceResourceId</assignToReference>
                <name>serviceResourceId</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>StartDate</assignToReference>
                <name>currStartDate</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>ValidationErrors</assignToReference>
                <name>validationErrors</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>WorkTypeGroupId</assignToReference>
                <name>workTypeGroupId</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ConfirmationScreen</name>
        <label>Confirmation Screen</label>
        <locationX>2362</locationX>
        <locationY>1024</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>headingConfirmation</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;{!txtConfirmationHeader}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>flowConfirm</name>
            <extensionName>runtime_appointmentbooking:flowConfirm</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ConfirmationScreen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>ConfirmationScreen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>WorkTypeNameDisplay</name>
                    <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(0, 0, 0);&quot;&gt;Type:&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;{!WorkTypeName}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>ConfirmationScreen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>AppointmentScheduledStartDisplay</name>
                    <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(0, 0, 0);&quot;&gt;Scheduled Date:&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;{!ServiceAppointment.SchedStartTime}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ReviewScreen</name>
        <label>Review Screen</label>
        <locationX>998</locationX>
        <locationY>1512</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Save_Appointment</targetReference>
        </connector>
        <fields>
            <name>newFlowReview</name>
            <extensionName>runtime_appointmentbooking:flowReviewIO</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>appointmentType</name>
                <value>
                    <elementReference>ServiceAppointment.AppointmentType</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>contactId</name>
                <value>
                    <elementReference>ServiceAppointment.ContactId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>parentRecordId</name>
                <value>
                    <elementReference>ServiceAppointment.ParentRecordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>additionalInformation</name>
                <value>
                    <elementReference>ServiceAppointment.AdditionalInformation</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>city</name>
                <value>
                    <elementReference>ServiceAppointment.City</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>comments</name>
                <value>
                    <elementReference>ServiceAppointment.Comments</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>country</name>
                <value>
                    <elementReference>ServiceAppointment.Country</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>endDateTime</name>
                <value>
                    <elementReference>ServiceAppointment.SchedEndTime</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>postalCode</name>
                <value>
                    <elementReference>ServiceAppointment.PostalCode</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>startDateTime</name>
                <value>
                    <elementReference>ServiceAppointment.SchedStartTime</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>state</name>
                <value>
                    <elementReference>ServiceAppointment.State</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>street</name>
                <value>
                    <elementReference>ServiceAppointment.Street</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>serviceResourceId</name>
                <value>
                    <elementReference>ServiceResourceId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>serviceTerritoryId</name>
                <value>
                    <elementReference>ServiceAppointment.ServiceTerritoryId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>workTypeGroupId</name>
                <value>
                    <elementReference>WorkTypeGroupId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>serviceAppointmentFields</name>
                <value>
                    <elementReference>ServiceAppointmentFields</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isAnonymousBooking</name>
                <value>
                    <elementReference>ServiceAppointment.IsAnonymousBooking</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>optionalAttendees</name>
                <value>
                    <elementReference>OptionalAttendees</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>saveErrors</name>
                <value>
                    <elementReference>$Flow.FaultMessage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>serviceResources</name>
                <value>
                    <elementReference>serviceResources</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isShowResourceSection</name>
                <value>
                    <elementReference>showServiceResource</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isSlotChanged</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedTimezone</name>
                <value>
                    <elementReference>selectedTimezone</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>validationErrors</name>
                <value>
                    <elementReference>ValidationErrors</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>schedulingPolicyName</name>
                <value>
                    <elementReference>SchedulingPolicyName</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>ServiceAppointmentFields</assignToReference>
                <name>serviceAppointmentFields</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>OptionalAttendees</assignToReference>
                <name>optionalAttendees</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>serviceResources</assignToReference>
                <name>serviceResources</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>ValidationErrors</assignToReference>
                <name>validationErrors</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <stages>
        <name>AppointmentTypeStage</name>
        <isActive>true</isActive>
        <label>Select Appointment Type</label>
        <stageOrder>10</stageOrder>
    </stages>
    <stages>
        <name>CandidateStage</name>
        <isActive>true</isActive>
        <label>Select Candidate</label>
        <stageOrder>90</stageOrder>
    </stages>
    <stages>
        <name>CompositeStage</name>
        <isActive>false</isActive>
        <label>CompositeStage</label>
        <stageOrder>30</stageOrder>
    </stages>
    <stages>
        <name>ConfirmationStage</name>
        <isActive>true</isActive>
        <label>Confirmation</label>
        <stageOrder>50</stageOrder>
    </stages>
    <stages>
        <name>LocationStage</name>
        <isActive>true</isActive>
        <label>Select Location</label>
        <stageOrder>20</stageOrder>
    </stages>
    <stages>
        <name>ReviewStage</name>
        <isActive>true</isActive>
        <label>Review</label>
        <stageOrder>40</stageOrder>
    </stages>
    <stages>
        <name>TimeSlotStage</name>
        <isActive>true</isActive>
        <label>Select Time Slot</label>
        <stageOrder>95</stageOrder>
    </stages>
    <stages>
        <name>TopicStage</name>
        <isActive>true</isActive>
        <label>Select Topic</label>
        <stageOrder>0</stageOrder>
    </stages>
    <start>
        <locationX>483</locationX>
        <locationY>441</locationY>
        <connector>
            <targetReference>Initial_Assignment</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>CustomNotifBodyForapplicant</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>An Inspection has been scheduled on {!NewVisit.PlannedVisitStartTime}. Please be ready for inspection.</text>
    </textTemplates>
    <textTemplates>
        <name>CustomNotificationBody</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>A new inspection on {!NewVisit.PlannedVisitStartTime} has been assigned to you. Please check the record.</text>
    </textTemplates>
    <textTemplates>
        <name>CustomNotificationtitle</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>A new inspection on {!NewVisit.PlannedVisitStartTime} has been assigned to you.</text>
    </textTemplates>
    <textTemplates>
        <name>CustomNotifTitleForApplicant</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>An Inspection has been scheduled on {!NewVisit.PlannedVisitStartTime}.</text>
    </textTemplates>
    <textTemplates>
        <name>txtConfirmationHeader</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;h2 style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 26px;&quot;&gt;Success! Your inspection has been scheduled. Please see your inspection date details below.&lt;/span&gt;&lt;/h2&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: Calibri, &amp;quot;Segoe UI&amp;quot;, Calibri, Thonburi, Arial, Verdana, sans-serif, &amp;quot;Mongolian Baiti&amp;quot;, &amp;quot;Microsoft Yi Baiti&amp;quot;, &amp;quot;Javanese Text&amp;quot;; font-size: 14.6667px; background-color: rgb(255, 255, 255);&quot;&gt; &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>txtLineBreak</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>txtLocationHeader</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;h2 style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 26px;&quot;&gt;Select a Location&lt;/span&gt;&lt;/h2&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>txtReviewExamSchedule</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;h2 style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 26px;&quot;&gt;Review Exam Schedule&lt;/b&gt;&lt;/h2&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>txtSelectAppointmentTimeSlot</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;h2 style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 26px;&quot;&gt;Select a Time Slot&lt;/b&gt;&lt;/h2&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>txtUploadCertificateHeader</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;h2 style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 26px;&quot;&gt;Upload Training Certificate&lt;/b&gt;&lt;/h2&gt;</text>
    </textTemplates>
    <textTemplates>
        <description>Used to store first and last name values from the user.</description>
        <name>txtUserContactName</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!$User.FirstName} {!$User.LastName}</text>
    </textTemplates>
    <variables>
        <name>allowAnonymousBooking</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>allowResourceBooking</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>ApplicantUserId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the business Account Id to be used when creating an service appointment</description>
        <name>BusinessAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the business application license id.</description>
        <name>BusinessApplicationLicenseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>BusinessLicenseApplication</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>BusinessLicenseApplication</objectType>
    </variables>
    <variables>
        <name>CADMV_BLACreationDateLimit</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>365.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>CADMV_BLADateHardLimit</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>365</stringValue>
        </value>
    </variables>
    <variables>
        <name>CADMV_CommunityManageMyInspectionPage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>{&quot;type&quot;: &quot;comm__namedPage&quot;,&quot;attributes&quot;: {&quot;name&quot;: &quot;Manage_My_Inspections__c&quot;}}</stringValue>
        </value>
    </variables>
    <variables>
        <description>You are Business License Application is outdated and violates the rule to schedule for an appointment. Please reach out to DMV Branch Office.</description>
        <name>CADMV_ValidationErrorOneMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CADMV_ValidationErrorTwoMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Please contact Department of Motor Vehicles regarding your Business License Application as the address is not verified.</stringValue>
        </value>
    </variables>
    <variables>
        <name>correlationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Specify a default time zone for Lightning Scheduler appointments.</description>
        <name>DefaultTimeZone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>disableMultiResource</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <description>variable to hold values of distance units.</description>
        <name>distanceUnit</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>mi</stringValue>
        </value>
    </variables>
    <variables>
        <description>Stores the Examination Name for Dealer License Exam</description>
        <name>ExaminationName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Dealer License Exam</stringValue>
        </value>
    </variables>
    <variables>
        <description>Stores the value for new exam date</description>
        <name>failedExamDate</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Specify a comma-separated list of service resource IDs. Depending on the page, these IDs are used to filter work type groups, service territories, or service resources.</description>
        <name>FilterByResourceIds</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>InspectionEvent</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Event</objectType>
    </variables>
    <variables>
        <description>Stores the Inspection Type named to be used for query.</description>
        <name>InspectionTypeName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Dealership Inspection</stringValue>
        </value>
    </variables>
    <variables>
        <name>InspectorAssignment</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>isGuestUser</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>IsInbound</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Lead</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>LocationDistance</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>5.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>LocationLatitude</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LocationLongitude</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the value for new exam date</description>
        <name>newExamDate</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NewVisit</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Visit</objectType>
    </variables>
    <variables>
        <name>OptionalAttendees</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PersonExamination</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PersonExamination</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the API name of the scheduling policy you want to associate with the flow.</description>
        <name>SchedulingPolicyName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectedLocation</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedTimezone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectedTriageOption</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>FIND_RESOURCE</elementReference>
        </value>
    </variables>
    <variables>
        <name>ServiceAppointment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>ServiceAppointmentFields</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ServiceResourceId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ServiceResourceName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>serviceResources</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>showServiceResource</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>showTimeZonePicklist</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>StartDate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Supervisor</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SupervisorId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the value for the error message header on the appointment screen</description>
        <name>txtAppointmentHeaderError</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ValidationErrors</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VisitedParty</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>VisitedParty</objectType>
    </variables>
    <variables>
        <name>WorkTypeGroupId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores Work Type Group Name value for Exam Registration</description>
        <name>WorkTypeGroupName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Inspection Scheduler</stringValue>
        </value>
    </variables>
    <variables>
        <description>Stores the value for work type name</description>
        <name>WorkTypeName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Inspection Scheduler</stringValue>
        </value>
    </variables>
</Flow>
