force-app/main/default/flows/CreateActionPlanForBusinessInspection.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>AssignActionPlanToVisit</name>
        <label>AssignActionPlanToVisit</label>
        <locationX>176</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>NewActionPlan.ActionPlanTemplateVersionId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetActionPlanTemplateVersion.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewActionPlan.TargetId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewActionPlan.StartDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewActionPlan.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Inspection</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewActionPlan.ActionPlanType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Retail</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateActionPlan</targetReference>
        </connector>
    </assignments>
    <description>Modifying get Action Plan Template</description>
    <interviewLabel>CreateActionPlanForBusinessInspection {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CreateActionPlanForBusinessInspection</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>CreateActionPlan</name>
        <label>CreateActionPlan</label>
        <locationX>176</locationX>
        <locationY>815</locationY>
        <inputReference>NewActionPlan</inputReference>
    </recordCreates>
    <recordLookups>
        <name>GetActionPlanTemplateVersion</name>
        <label>GetActionPlanTemplateVersion</label>
        <locationX>176</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssignActionPlanToVisit</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ActionPlanTemplateId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetVisitType.Action_Plan_Template__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ActionPlanTemplateVersion</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetVisitRecord</name>
        <label>GetVisitRecord</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetVisitType</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Visit</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetVisitType</name>
        <label>GetVisitType</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetActionPlanTemplateVersion</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetVisitRecord.VisitTypeId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>InspectionType</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Action_Plan_Template__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetVisitRecord</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>VisitTypeId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Visit</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>NewActionPlan</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ActionPlan</objectType>
    </variables>
</Flow>
