force-app/main/default/flows/IU_Technician_Review_Complete.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Assign_Completed_Queue</name>
        <label>Assign Completed Queue</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>Get_Case_Record.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Completed_Queue.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_IU_Manager_Queue</name>
        <label>Assign to IU Manager Queue</label>
        <locationX>314</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>Get_Case_Record.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_IU_Manager_Queue.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Case_Status_to_Approve</name>
        <label>Case Status to Approve</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>Get_Case_Record.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Completed_Queue</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>ApproveForInspection</name>
        <choiceText>Approve for Inspection</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Approve for Inspection</stringValue>
        </value>
    </choices>
    <choices>
        <name>AssignToManager</name>
        <choiceText>Assign to Manager</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Assign to Manager</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_Approve</name>
        <choiceText>Approve the Application</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Approve the Application</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_Deny</name>
        <choiceText>Deny</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Deny</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Approve2</name>
        <label>Approve?</label>
        <locationX>248</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>Assign_to_Manager</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>Approve3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AssignOrApprove</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choice_Approve</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Case_Status_to_Approve</targetReference>
            </connector>
            <label>Approve</label>
        </rules>
    </decisions>
    <decisions>
        <name>Assign_to_Manager</name>
        <label>Assign to Manager?</label>
        <locationX>446</locationX>
        <locationY>518</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Assign_to_Manager1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AssignOrApprove</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>AssignToManager</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_IU_Manager_Queue</targetReference>
            </connector>
            <label>Assign to Manager?</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>LiveScanReview</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Live_Scan_Review1__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PersonalHistoryReview</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Personal_History_Review__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>picklist_BEOwnershipReview</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>BE_Ownership_Review__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>picklist_BusinessEntityStatus</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Business_Entity_Status__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>picklist_DenialReason</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Denial_Reasons__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PriorDepartmentAction</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Prior_Department_Action__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SellersPermitReview</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Sellers_Permit_Review__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>IU Technician Review Complete {!$Flow.CurrentDateTime}</interviewLabel>
    <label>IU Technician Review Complete</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Case_Record</name>
        <label>Get Case Record</label>
        <locationX>248</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Review</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Completed_Queue</name>
        <label>Get Completed Queue</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Completed_Queue</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Completed_Queue</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_IU_Manager_Queue</name>
        <label>Get IU Manager Queue</label>
        <locationX>314</locationX>
        <locationY>638</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_to_IU_Manager_Queue</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Individual_License_Unit_Manager</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Case</name>
        <label>Update Case</label>
        <locationX>248</locationX>
        <locationY>1070</locationY>
        <inputReference>Get_Case_Record</inputReference>
    </recordUpdates>
    <screens>
        <name>Review</name>
        <label>Review</label>
        <locationX>248</locationX>
        <locationY>278</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Approve2</targetReference>
        </connector>
        <fields>
            <name>What_do_you_need_to_do</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>HelpText</elementReference>
            </defaultValue>
            <fieldText>What do you need to do?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Prior_Department_Action</name>
            <choiceReferences>PriorDepartmentAction</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Case_Record.Prior_Department_Action__c</elementReference>
            </defaultValue>
            <fieldText>Prior Department Action</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Case_Record.Prior_Department_Action__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Exception</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Personal_History_Review</name>
            <choiceReferences>PersonalHistoryReview</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Case_Record.Personal_History_Review__c</elementReference>
            </defaultValue>
            <fieldText>Personal History Review</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Case_Record.Personal_History_Review__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Exception</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Live_Scan_Review</name>
            <choiceReferences>LiveScanReview</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Case_Record.Live_Scan_Review1__c</elementReference>
            </defaultValue>
            <fieldText>Live Scan Review</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Case_Record.Live_Scan_Review1__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Yes rap sheet</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Get_Case_Record.Live_Scan_Review1__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Pending rap sheet</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>Get_Case_Record.Application_Review_Notes__c</objectFieldReference>
        </fields>
        <fields>
            <name>AssignOrApprove</name>
            <choiceReferences>AssignToManager</choiceReferences>
            <choiceReferences>choice_Approve</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Which would you like to do?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <stages>
        <name>Check_List</name>
        <isActive>true</isActive>
        <label>Check List</label>
        <stageOrder>5</stageOrder>
    </stages>
    <start>
        <locationX>122</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Case_Record</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <textTemplates>
        <name>HelpText</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Please review any exceptions and enter application status notes.  You can then either approve the application or deny the application.</text>
    </textTemplates>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>txtFileNameBE</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>BE Status Screenshot</stringValue>
        </value>
    </variables>
</Flow>
