force-app/main/default/flows/Update_BLA_Status_on_RCV_Change.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Assign_Regulatory_Code_Violation_Details</name>
        <label>Assign Regulatory Code Violation Details</label>
        <locationX>1042</locationX>
        <locationY>271</locationY>
        <assignmentItems>
            <assignToReference>Verify_All_RCVs_are_Resolved.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Medium</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Current_RCV_Resolved</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>RCV_Open_Flag_is_True</name>
        <label>RCV Open Flag is True</label>
        <locationX>636</locationX>
        <locationY>50</locationY>
        <assignmentItems>
            <assignToReference>AnyRCVOpen</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RegulatoryCodeViolationCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Verify_All_RCVs_are_Resolved</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Verify_All_RCVs_are_Resolved</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_RCV_Status</name>
        <label>Check RCV Status</label>
        <locationX>166</locationX>
        <locationY>319</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_RCV_Resolved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Resolved</stringValue>
                </rightValue>
            </conditions>
            <label>Is RCV Resolved?</label>
        </rules>
        <rules>
            <name>Is_RCV_Not_Resolved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Resolved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Visit_for_RCV</targetReference>
            </connector>
            <label>Is RCV Not Resolved?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Determine_Visit_Context_Type</name>
        <label>Determine Visit Context Type</label>
        <locationX>983</locationX>
        <locationY>616</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_BLA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Visit_for_RCV.ContextId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>0f0</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_BLA</targetReference>
            </connector>
            <label>Is BLA</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Current_RCV_Resolved</name>
        <label>Is Current RCV Resolved?</label>
        <locationX>1158</locationX>
        <locationY>165</locationY>
        <defaultConnector>
            <targetReference>RCV_Open_Flag_is_True</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>RCV_is_Open</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Verify_All_RCVs_are_Resolved.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Open</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RCV_Open_Flag_is_True</targetReference>
            </connector>
            <label>RCV is Open</label>
        </rules>
        <rules>
            <name>RCV_is_New</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Verify_All_RCVs_are_Resolved.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Resolved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Verify_All_RCVs_are_Resolved</targetReference>
            </connector>
            <label>RCV is Resolved</label>
        </rules>
    </decisions>
    <decisions>
        <name>Should_Context_be_Updated</name>
        <label>Should Context be Updated?</label>
        <locationX>728</locationX>
        <locationY>605</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>All_RCVs_are_Resolved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AnyRCVOpen</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Determine_Visit_Context_Type</targetReference>
            </connector>
            <label>All RCVs are Resolved</label>
        </rules>
    </decisions>
    <description>Added a new Regulatory Violation Code collection for update after loop</description>
    <interviewLabel>Update BLA Status on RCV Change {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update BLA Status on RCV Change</label>
    <loops>
        <name>Verify_All_RCVs_are_Resolved</name>
        <label>Verify All RCVs are Resolved</label>
        <locationX>517</locationX>
        <locationY>385</locationY>
        <collectionReference>Get_All_RCVs_for_Visit</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Regulatory_Code</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_RCVs_Description_and_Priority</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_All_RCVs_for_Visit</name>
        <label>Get All RCVs for Visit</label>
        <locationX>175</locationX>
        <locationY>675</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Verify_All_RCVs_are_Resolved</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>InspectionId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.InspectionId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>RegulatoryCodeViolation</object>
        <sortField>LastModifiedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Regulatory_Code</name>
        <label>Get Regulatory Code</label>
        <locationX>777</locationX>
        <locationY>456</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Regulatory_Code_Violation_Details</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Verify_All_RCVs_are_Resolved.RegulatoryCodeId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RegulatoryCode</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Visit_for_RCV</name>
        <label>Get Visit for RCV</label>
        <locationX>175</locationX>
        <locationY>531</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_All_RCVs_for_Visit</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.InspectionId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Visit</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_BLA</name>
        <label>Update BLA</label>
        <locationX>1291</locationX>
        <locationY>617</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Visit_for_RCV.ContextId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Inspection Completed</stringValue>
            </value>
        </inputAssignments>
        <object>BusinessLicenseApplication</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_RCVs_Description_and_Priority</name>
        <label>Update RCVs Description and Priority</label>
        <locationX>518</locationX>
        <locationY>587</locationY>
        <inputReference>RegulatoryCodeViolationCollection</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Check_RCV_Status</targetReference>
        </connector>
        <object>RegulatoryCodeViolation</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>AnyRCVOpen</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>RegulatoryCodeViolationCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RegulatoryCodeViolation</objectType>
    </variables>
</Flow>
