force-app/main/default/flows/UPdate_Previous_statusvisit.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <decisions>
        <name>Check_for_status_change</name>
        <label>Check for status change</label>
        <locationX>174</locationX>
        <locationY>263</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_status_change</name>
            <conditionLogic>1 OR ( 2 AND 3 AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.VisitorId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.VisitorId</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.CADMV_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending Inspector Assignment</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CADMV_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Scheduled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.CADMV_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.CADMV_Status__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Previous_status_field</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Is status change</label>
        </rules>
    </decisions>
    <interviewLabel>UPdate Previous status {!$Flow.CurrentDateTime}</interviewLabel>
    <label>UPdate Previous status visit</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Previous_status_field</name>
        <label>Update Previous status field</label>
        <locationX>181</locationX>
        <locationY>469</locationY>
        <inputAssignments>
            <field>CADMV_PreviousStatus__c</field>
            <value>
                <elementReference>$Record__Prior.CADMV_Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CADMV_PreviousVisitorId__c</field>
            <value>
                <elementReference>$Record__Prior.VisitorId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>38</locationY>
        <connector>
            <targetReference>Check_for_status_change</targetReference>
        </connector>
        <object>Visit</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
